USE [zdk_blendo00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xeroinvoices](
	[amountcredited] [float] NULL,
	[amountdue] [float] NULL,
	[amountpaid] [float] NULL,
	[blendo_imported_at] [bigint] NULL,
	[brandingthemeid] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[contact_contactid] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[contact_hasvalidationerrors] [bit] NULL,
	[contact_name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[creditnotes_appliedamount] [float] NULL,
	[creditnotes_creditnoteid] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[creditnotes_creditnotenumber] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[creditnotes_date] [datetime] NULL,
	[creditnotes_datestring] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[creditnotes_id] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[creditnotes_total] [float] NULL,
	[currencycode] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[currencyrate] [float] NULL,
	[date] [datetime] NULL,
	[datestring] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[duedate] [datetime] NULL,
	[duedatestring] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[expectedpaymentdate] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[expectedpaymentdatestring] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fullypaidondate] [datetime] NULL,
	[hasattachments] [bit] NULL,
	[haserrors] [bit] NULL,
	[invoiceid] [varchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[invoicenumber] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[isdiscounted] [bit] NULL,
	[lineamounttypes] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[overpayments_appliedamount] [float] NULL,
	[overpayments_date] [bigint] NULL,
	[overpayments_datestring] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[overpayments_id] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[overpayments_overpaymentid] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[overpayments_total] [float] NULL,
	[payments_amount] [float] NULL,
	[payments_batchpaymentid] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[payments_currencyrate] [float] NULL,
	[payments_date] [datetime] NULL,
	[payments_hasaccount] [bit] NULL,
	[payments_hasvalidationerrors] [bit] NULL,
	[payments_paymentid] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[payments_reference] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[plannedpaymentdate] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[plannedpaymentdatestring] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reference] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[senttocontact] [bit] NULL,
	[status] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[subtotal] [float] NULL,
	[total] [float] NULL,
	[totaltax] [float] NULL,
	[type] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[updateddateutc] [datetime] NULL,
	[url] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [FG_DATA_00] TEXTIMAGE_ON [FG_DATA_00]

GO
