USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
-- CREATE
CREATE PROCEDURE [dbo].[last_pos_batch_sp]
AS
-- [22:52 19/3/2017] (SYS-100) Migr to (mt2) : Added  "ALTER Schema .. TRANSFER" for DROP-CREATE SCHEMA 
BEGIN
	SET NOCOUNT ON;
	SET QUERY_GOVERNOR_COST_LIMIT 0
	SET DEADLOCK_PRIORITY HIGH
	SET CONCAT_NULL_YIELDS_NULL OFF;
/*
	DECLARE @DetErrorMess VARCHAR(MAX), @ErrorSeverity  tinyint, @ErrorState tinyint;
	-- ** [13:34 18/7/2016] DATA-2771: (mt1)_V_POS_BATCH1-2_logical_idx_corruption
	-- **	sp not failling totally after:  PRIMARY KEY constraint 'PK_V_POS_BATCH' Violtaion Errors
	BEGIN TRY
		--V_POS
		BEGIN TRAN;
			DELETE FROM V_POS_TEMP;
			INSERT INTO V_POS_TEMP (SHIP_ID,MMSI,STATUS,SPEED,LON,LAT,COURSE,HEADING,ROT,[TIMESTAMP],SHIPNAME,SHIPTYPE,LENGTH,WIDTH,DESTINATION,FLAG,TYPE_COLOR,AREA_ID,STATION,
			L_FORE, W_LEFT, IMO, CALLSIGN, ETA, DRAUGHT, SHIPTYPE_FULL, 
							  PORT_ID, AREA_ID_ALL, PORT_NAME, AREA_NAME, COUNT_PHOTOS, SHIPTIME, GT_SHIPTYPE
							  -- [13:52 28/7/2015] 
							  , TYPE_GROUPED_ID, DWT, AIS_SECONDS, PORT_TYPE
			--SAT [dlek 27 Apr 2016]
			,SAT_TIMESTAMP, SAT_LAT, SAT_LON, SAT_SPEED, SAT_COURSE, IS_COASTAL, SAT_HEADING, SAT_TIME_RECEIVED
			,SAT60_TIMESTAMP, SAT60_LAT, SAT60_LON, SAT60_SPEED, SAT60_COURSE, SAT360_TIMESTAMP, SAT360_LAT, SAT360_LON, SAT360_SPEED, SAT360_COURSE
			,SAT720_TIMESTAMP, SAT720_LAT, SAT720_LON, SAT720_SPEED, SAT720_COURSE, TERRSAT_TIMESTAMP, TERRSAT_LAT, TERRSAT_LON)
			(SELECT B.SHIP_ID,B.MMSI,B.STATUS,B.SPEED,B.LON,B.LAT,B.COURSE,B.HEADING,B.ROT,B.[TIMESTAMP],B.SHIPNAME,B.SHIPTYPE,B.LENGTH,B.WIDTH,B.DESTINATION,B.FLAG,B.TYPE_COLOR,B.AREA_ID,B.STATION,
			B.L_FORE, B.W_LEFT, B.IMO, B.CALLSIGN, B.ETA, B.DRAUGHT, B.SHIPTYPE_FULL, 
							  B.PORT_ID, B.AREA_ID_ALL, B.PORT_NAME, B.AREA_NAME, B.COUNT_PHOTOS, B.SHIPTIME, B.GT_SHIPTYPE
							  -- [13:52 28/7/2015] 
							  , B.TYPE_GROUPED_ID, B.DWT, B.AIS_SECONDS, B.PORT_TYPE
			--SAT [dlek 27 Apr 2016]
			,B.SAT_TIMESTAMP, B.SAT_LAT, B.SAT_LON, B.SAT_SPEED, B.SAT_COURSE, B.IS_COASTAL, B.SAT_HEADING, B.SAT_TIME_RECEIVED
			,B.SAT60_TIMESTAMP, B.SAT60_LAT, B.SAT60_LON, B.SAT60_SPEED, B.SAT60_COURSE
			,B.SAT360_TIMESTAMP, B.SAT360_LAT, B.SAT360_LON, B.SAT360_SPEED, B.SAT360_COURSE
			,B.SAT720_TIMESTAMP, B.SAT720_LAT, B.SAT720_LON, B.SAT720_SPEED, B.SAT720_COURSE
			--TERRSAT for counters, clusters and anonymized SAT
			,CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_TIMESTAMP ELSE B.TIMESTAMP END
			,CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_LAT ELSE B.LAT END
			,CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_LON ELSE B.LON END
			FROM MT1.ais.dbo.V_POS B ) --WITH(NOLOCK))
			;
			-- xxxx D.p: success message
			set @DetErrorMess=convert(varchar(400),@@ROWCOUNT);
			PRINT ' **** '+@@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
			PRINT ' ** last_pos_batch_sp: (INSERT INTO [V_POS_TEMP]) row(s) affected: ' + @DetErrorMess;
		COMMIT TRAN;		
	END TRY
	BEGIN CATCH 
		--
		SET @ErrorSeverity = ERROR_SEVERITY()
		SET @ErrorState    = ERROR_STATE()
		SET @DetErrorMess =  ' **** ERROR_NUMBER ' +        
		  CAST(ERROR_NUMBER() AS VARCHAR) + ' : '+
		  CAST(@ErrorSeverity AS VARCHAR) + ' : ' +
		  CAST(@ErrorState AS VARCHAR) + ' : ' +
		  ERROR_PROCEDURE() + ' : ' +
		  ERROR_MESSAGE() + ' : ERROR_LINE ' +
		  CAST(ERROR_LINE() AS VARCHAR);
		
		-- Test XACT_STATE for 1 or -1. XACT_STATE = 0 means there is no transaction
		--	and a commit or rollback operation would generate an error.
		IF (XACT_STATE()) <> 0
		BEGIN
			--D.p: PRINT XACT_STATE(); 
			ROLLBACK TRAN;
			-- D.p: PRINT 'after: ' + CAST(XACT_STATE() AS VARCHAR(10));
		END;
		-- detailed error message....return
		RAISERROR(@DetErrorMess, @ErrorSeverity, @ErrorState) WITH LOG;
		RETURN;
	END CATCH;
	-- ** ENDoF:  [13:34 18/7/2016] DATA-2771
*/

--Disable Indexes
--ALTER INDEX LON_LAT ON V_POS_TEMP DISABLE
--ALTER INDEX MMSI ON V_POS_TEMP DISABLE
--ALTER INDEX STATION ON V_POS_TEMP DISABLE
--ALTER INDEX [TIME] ON V_POS_TEMP DISABLE

	--
	DECLARE @DetErrorMess VARCHAR(MAX), @ErrorSeverity  tinyint, @ErrorState tinyint;
	-- ** [13:34 18/7/2016] DATA-2771: (mt1)_V_POS_BATCH1-2_logical_idx_corruption
	-- **	sp not failling totally after:  Error on UPDATEs
	BEGIN TRY
		BEGIN TRAN;
			--MERGE IS FASTER THAN TRUNCATE AND INSERT ALL?
			MERGE V_POS_TEMP A 
			USING MT1.ais.dbo.V_POS_LATEST B --WITH(NOLOCK) 
			ON A.SHIP_ID=B.SHIP_ID
			WHEN MATCHED AND (A.TIMESTAMP<>B.TIMESTAMP OR A.SAT_TIME_RECEIVED<>B.SAT_TIME_RECEIVED OR A.SAT720_TIMESTAMP<>B.SAT720_TIMESTAMP) THEN
			  UPDATE
			  SET A.STATUS=B.STATUS,A.SPEED=B.SPEED,A.LON=B.LON,A.LAT=B.LAT,A.COURSE=B.COURSE,A.HEADING=B.HEADING,A.ROT=B.ROT,A.[TIMESTAMP]=B.[TIMESTAMP],
			  A.SHIPNAME=B.SHIPNAME,A.SHIPTYPE=B.SHIPTYPE,A.LENGTH=B.LENGTH,A.WIDTH=B.WIDTH,A.DESTINATION=B.DESTINATION,A.FLAG=B.FLAG,A.TYPE_COLOR=B.TYPE_COLOR,A.AREA_ID=B.AREA_ID,A.STATION=B.STATION,
			  A.L_FORE=B.L_FORE, A.W_LEFT=B.W_LEFT, A.IMO=B.IMO, A.CALLSIGN=B.CALLSIGN, A.ETA=B.ETA, A.DRAUGHT=B.DRAUGHT, A.SHIPTYPE_FULL=B.SHIPTYPE_FULL, 
			  A.PORT_ID=B.PORT_ID, A.AREA_ID_ALL=B.AREA_ID_ALL, A.PORT_NAME=B.PORT_NAME, A.AREA_NAME=B.AREA_NAME, A.COUNT_PHOTOS=B.COUNT_PHOTOS, A.SHIPTIME=B.SHIPTIME, A.GT_SHIPTYPE=B.GT_SHIPTYPE
			  -- [13:52 28/7/2015] 
			  , A.TYPE_GROUPED_ID=B.TYPE_GROUPED_ID , A.DWT=B.DWT, A.AIS_SECONDS=B.AIS_SECONDS
					--SAT [dlek 27 Apr 2016]
				,A.SAT_TIMESTAMP=B.SAT_TIMESTAMP, A.SAT_LAT=B.SAT_LAT, A.SAT_LON=B.SAT_LON, A.SAT_SPEED=B.SAT_SPEED, A.SAT_COURSE=B.SAT_COURSE, A.IS_COASTAL=B.IS_COASTAL, A.SAT_HEADING=B.SAT_HEADING
				,A.SAT_TIME_RECEIVED=B.SAT_TIME_RECEIVED
				,A.SAT60_TIMESTAMP=B.SAT60_TIMESTAMP, A.SAT60_LAT=B.SAT60_LAT, A.SAT60_LON=B.SAT60_LON, A.SAT60_SPEED=B.SAT60_SPEED, A.SAT60_COURSE=B.SAT60_COURSE
				,A.SAT360_TIMESTAMP=B.SAT360_TIMESTAMP, A.SAT360_LAT=B.SAT360_LAT, A.SAT360_LON=B.SAT360_LON, A.SAT360_SPEED=B.SAT360_SPEED, A.SAT360_COURSE=B.SAT360_COURSE
				,A.SAT720_TIMESTAMP=B.SAT720_TIMESTAMP, A.SAT720_LAT=B.SAT720_LAT, A.SAT720_LON=B.SAT720_LON, A.SAT720_SPEED=B.SAT720_SPEED, A.SAT720_COURSE=B.SAT720_COURSE
				--TERRSAT for counters, clusters and anonymized SAT
				,A.TERRSAT_TIMESTAMP = CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_TIMESTAMP ELSE COALESCE(B.TIMESTAMP,B.SAT_TIMESTAMP) END
				,A.TERRSAT_LAT = CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_LAT ELSE COALESCE(B.LAT, B.SAT_LAT) END
				,A.TERRSAT_LON = CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_LON ELSE COALESCE(B.LON, B.SAT_LON) END
				,A.TERRSAT_SPEED = CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_SPEED ELSE COALESCE(B.SPEED, B.SAT_SPEED) END
				,A.TERRSAT_COURSE = CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_COURSE ELSE COALESCE(B.COURSE, B.SAT_COURSE) END
				,A.TIMEZONE = B.TIMEZONE, A.ETA_OFFSET = B.ETA_OFFSET
				WHEN NOT MATCHED BY TARGET THEN
			  INSERT (SHIP_ID,MMSI,STATUS,SPEED,LON,LAT,COURSE,HEADING,ROT,[TIMESTAMP],SHIPNAME,SHIPTYPE,LENGTH,WIDTH,DESTINATION,FLAG,TYPE_COLOR,AREA_ID,STATION,
			  L_FORE, W_LEFT, IMO, CALLSIGN, ETA, DRAUGHT, SHIPTYPE_FULL, 
								  PORT_ID, AREA_ID_ALL, PORT_NAME, AREA_NAME, COUNT_PHOTOS, SHIPTIME, GT_SHIPTYPE
								  -- [13:52 28/7/2015] 
								  , TYPE_GROUPED_ID, DWT, AIS_SECONDS
				--SAT [dlek 27 Apr 2016]
				,SAT_TIMESTAMP, SAT_LAT, SAT_LON, SAT_SPEED, SAT_COURSE, IS_COASTAL, SAT_HEADING, SAT_TIME_RECEIVED,
				SAT60_TIMESTAMP, SAT60_LAT, SAT60_LON, SAT60_SPEED, SAT60_COURSE, SAT360_TIMESTAMP, SAT360_LAT, SAT360_LON, SAT360_SPEED, SAT360_COURSE, 
				SAT720_TIMESTAMP, SAT720_LAT, SAT720_LON, SAT720_SPEED, SAT720_COURSE, TERRSAT_TIMESTAMP, TERRSAT_LAT, TERRSAT_LON, TERRSAT_SPEED, TERRSAT_COURSE
				,TIMEZONE, ETA_OFFSET)
			  VALUES (B.SHIP_ID,B.MMSI,B.STATUS,B.SPEED,B.LON,B.LAT,B.COURSE,B.HEADING,B.ROT,B.[TIMESTAMP],B.SHIPNAME,B.SHIPTYPE,B.LENGTH,B.WIDTH,B.DESTINATION,B.FLAG,B.TYPE_COLOR,B.AREA_ID,B.STATION,
			  B.L_FORE, B.W_LEFT, B.IMO, B.CALLSIGN, B.ETA, B.DRAUGHT, B.SHIPTYPE_FULL, 
								  B.PORT_ID, B.AREA_ID_ALL, B.PORT_NAME, B.AREA_NAME, B.COUNT_PHOTOS, B.SHIPTIME, B.GT_SHIPTYPE
								  -- [13:52 28/7/2015] 
								  , B.TYPE_GROUPED_ID, B.DWT, B.AIS_SECONDS
				--SAT [dlek 27 Apr 2016]
				,B.SAT_TIMESTAMP, B.SAT_LAT, B.SAT_LON, B.SAT_SPEED, B.SAT_COURSE, B.IS_COASTAL, B.SAT_HEADING, B.SAT_TIME_RECEIVED
				,B.SAT60_TIMESTAMP, B.SAT60_LAT, B.SAT60_LON, B.SAT60_SPEED, B.SAT60_COURSE
				,B.SAT360_TIMESTAMP, B.SAT360_LAT, B.SAT360_LON, B.SAT360_SPEED, B.SAT360_COURSE
				,B.SAT720_TIMESTAMP, B.SAT720_LAT, B.SAT720_LON, B.SAT720_SPEED, B.SAT720_COURSE
				--TERRSAT for counters, clusters and anonymized SAT
				,CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_TIMESTAMP ELSE B.TIMESTAMP END
				,CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_LAT ELSE B.LAT END
				,CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_LON ELSE B.LON END
				,CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_SPEED ELSE B.SPEED END
				,CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_COURSE ELSE B.COURSE END
				,B.TIMEZONE, B.ETA_OFFSET);
			--WHEN NOT MATCHED BY SOURCE THEN
			--  DELETE;
			--OPTION (MAXDOP 1);
			
		DELETE FROM V_POS_TEMP
		WHERE (TIMESTAMP<GETUTCDATE()-1 OR TIMESTAMP IS NULL) AND (SAT_TIMESTAMP<GETUTCDATE()-1  OR SAT_TIMESTAMP IS NULL) 
		AND (SAT60_TIMESTAMP<GETUTCDATE()-1  OR SAT60_TIMESTAMP IS NULL) AND (SAT360_TIMESTAMP<GETUTCDATE()-1  OR SAT360_TIMESTAMP IS NULL) 
		AND (SAT720_TIMESTAMP<GETUTCDATE()-1  OR SAT720_TIMESTAMP IS NULL)

			-- xxxx D.p: success message
			set @DetErrorMess=convert(varchar(400),@@ROWCOUNT);
			PRINT ' **** '+@@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
			PRINT ' ** last_pos_batch_sp: (MERGEs [V_POS_TEMP]) row(s) affected: ' + @DetErrorMess;
		COMMIT TRAN;		
	END TRY
	BEGIN CATCH
		--
		SET @ErrorSeverity = ERROR_SEVERITY()
		SET @ErrorState    = ERROR_STATE()
		SET @DetErrorMess =  ' **** ERROR_NUMBER ' +        
		  CAST(ERROR_NUMBER() AS VARCHAR) + ' : '+
		  CAST(@ErrorSeverity AS VARCHAR) + ' : ' +
		  CAST(@ErrorState AS VARCHAR) + ' : ' +
		  ERROR_PROCEDURE() + ' : ' +
		  ERROR_MESSAGE() + ' : ERROR_LINE ' +
		  CAST(ERROR_LINE() AS VARCHAR);
		
		-- Test XACT_STATE for 1 or -1. XACT_STATE = 0 means there is no transaction
		--	and a commit or rollback operation would generate an error.
		IF (XACT_STATE()) <> 0
		BEGIN
			--D.p: PRINT XACT_STATE(); 
			ROLLBACK TRAN;
			-- D.p: PRINT 'after: ' + CAST(XACT_STATE() AS VARCHAR(10));
		END;
		-- detailed error message....return
		RAISERROR(@DetErrorMess, @ErrorSeverity, @ErrorState) WITH LOG;
		RETURN;
	END CATCH;
	-- ** ENDoF:  [13:34 18/7/2016] DATA-2771

--Enable Indexes
--ALTER INDEX LON_LAT ON V_POS_TEMP REBUILD
--ALTER INDEX MMSI ON V_POS_TEMP REBUILD
--ALTER INDEX STATION ON V_POS_TEMP REBUILD
--ALTER INDEX [TIME] ON V_POS_TEMP REBUILD

--BEGIN TRAN
--exec sp_rename 'V_POS_BATCH', 'V_POS_TEMP1'
--exec sp_rename 'V_POS_TEMP', 'V_POS_BATCH'
--exec sp_rename 'V_POS_TEMP1', 'V_POS_TEMP'
--COMMIT


-- ** [18:15 23/6/2016]
-- [DATA-2980] : Create index rebuild scr-proc hourly
-- * SET Object UPON SYNONYM def:
DECLARE @V_TEMP_OBJ VARCHAR(1000) = (SELECT /*xx TOP 1*/ PARSENAME(base_object_name,1) AS objectName 
										FROM sys.synonyms WHERE name='V_POS_TEMP');
-- * SET (minutes) before last REBUILD (STATs check)
DECLARE @intDiffMin TINYINT = 60;
-- CHECK last STATs UPDATE on CLUSTERED INDEX:
IF (
	SELECT DATEDIFF(MINUTE,STATS_DATE(object_id, stats_id),GETDATE()) --!! LastStatsUpdate DIFF_min
		FROM sys.stats
		WHERE object_id = OBJECT_ID(@V_TEMP_OBJ)
		AND LEFT(name,4)!='_WA_'
		-- Select ONLY Clustered for the CHECK:
		AND name = (SELECT i0.name FROM sys.indexes i0 WHERE i0.object_id=OBJECT_ID(@V_TEMP_OBJ) AND i0.type_desc='CLUSTERED')
	) > @intDiffMin
BEGIN
	--xx D.p
	PRINT @@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
	PRINT ' **** LastStatsUpdate DIFF(for '+@V_TEMP_OBJ+') > '+CONVERT(VARCHAR(10), @intDiffMin)+' min'
	-- Open Cursor with ALTER statements
	DECLARE @straltSQL VARCHAR(1000);
	DECLARE c_altidx CURSOR FOR 
	SELECT
  			'ALTER INDEX ' + QUOTENAME(i.name) + ' ON '
			+ QUOTENAME('dbo') + '.'
			+ QUOTENAME(OBJECT_NAME(i.OBJECT_ID)) + ' REBUILD;'	rbidx_scr
	FROM sys.indexes i
	WHERE 
		--xx [o].name = @V_TEMP_OBJ
		OBJECT_NAME(i.OBJECT_ID) = @V_TEMP_OBJ
		-- AND i.type_desc='CLUSTERED'
	ORDER BY CASE i.type_desc WHEN 'CLUSTERED' THEN 1 ELSE 0 END DESC
	;
	--
	OPEN c_altidx;
	FETCH NEXT FROM c_altidx INTO @straltSQL;
	WHILE (@@FETCH_STATUS = 0)
		BEGIN
			--xx D.p
			PRINT @@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
			PRINT @straltSQL;
			EXEC dbo.sp_sqlexec @straltSQL;

			FETCH NEXT FROM c_altidx INTO @straltSQL;
			-- ENDoF:  c_altidx cursor WHILE
		END;
	--
	CLOSE c_altidx;
	DEALLOCATE c_altidx;
--
END;
ELSE
BEGIN	
	/*xxxx D.p	*/
	PRINT @@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
	PRINT ' **** LastStatsUpdate DIFF(for '+@V_TEMP_OBJ+') <= '+CONVERT(VARCHAR(10), @intDiffMin)+' min'
	/*xxxx D.p	*/
	SELECT @intDiffMin = DATEDIFF(MINUTE,STATS_DATE(object_id, stats_id),GETDATE()) 
		FROM sys.stats
		WHERE object_id = OBJECT_ID(@V_TEMP_OBJ)
		AND LEFT(name,4)!='_WA_'
		-- Select ONLY Clustered for the CHECK:
		AND name = (SELECT i0.name FROM sys.indexes i0 WHERE i0.object_id=OBJECT_ID(@V_TEMP_OBJ) AND i0.type_desc='CLUSTERED')
	;
	PRINT ' **   LastStatsUpdate DIFF(for '+@V_TEMP_OBJ+') is : '+CONVERT(VARCHAR(10), @intDiffMin)+' min'
-- ENDoF: IF () > @intDiffMin
END
;



--rename table replaced by swapping synonyms
-- [22:52 19/3/2017] (SYS-100) Migr to (mt2) : Added  "ALTER Schema .. TRANSFER" for DROP-CREATE SCHEMA 
declare @syn_object as varchar(50)
set @syn_object = (SELECT TOP 1 PARSENAME(base_object_name,1) AS objectName 
FROM sys.synonyms WHERE name='V_POS_BATCH')
if(@syn_object='V_POS_BATCH1')
begin
BEGIN TRAN
	DROP SYNONYM [shad].[V_POS_BATCH];
	CREATE SYNONYM [shad].[V_POS_BATCH] FOR [dbo].[V_POS_BATCH2];
	ALTER SCHEMA [fk] TRANSFER [dbo].[V_POS_BATCH];
	ALTER SCHEMA [dbo] TRANSFER [shad].[V_POS_BATCH];
	ALTER SCHEMA [shad] TRANSFER [fk].[V_POS_BATCH];
	--
	DROP SYNONYM [dbo].[V_POS_TEMP] 
	CREATE SYNONYM [dbo].[V_POS_TEMP] FOR [dbo].[V_POS_BATCH1]
COMMIT TRAN;  
end
else if(@syn_object='V_POS_BATCH2')
begin
BEGIN TRAN
	DROP SYNONYM [shad].[V_POS_BATCH];
	CREATE SYNONYM [shad].[V_POS_BATCH] FOR [dbo].[V_POS_BATCH1];
	ALTER SCHEMA [fk] TRANSFER [dbo].[V_POS_BATCH];
	ALTER SCHEMA [dbo] TRANSFER [shad].[V_POS_BATCH];
	ALTER SCHEMA [shad] TRANSFER [fk].[V_POS_BATCH];
	--  
	DROP SYNONYM [dbo].[V_POS_TEMP];
	CREATE SYNONYM [dbo].[V_POS_TEMP] FOR [dbo].[V_POS_BATCH2];
COMMIT TRAN;  
end
else if(@syn_object is null)
begin
	CREATE SYNONYM [dbo].[V_POS_BATCH] FOR [dbo].[V_POS_BATCH1]  
	CREATE SYNONYM [dbo].[V_POS_TEMP] FOR [dbo].[V_POS_BATCH2]  
end



--Scrambled data
/*
SELECT ROW_NUMBER() OVER (ORDER BY SHIP_ID ) AS ROWNUM1,
       ROW_NUMBER() OVER (ORDER BY NEWID()) AS ROWNUM2,
       ROW_NUMBER() OVER (ORDER BY MMSI) AS ROWNUM3,
      *
	  INTO #S
from V_POS_BATCH

TRUNCATE TABLE V_POS_SCRAMBLED
INSERT INTO V_POS_SCRAMBLED (SHIP_ID, MMSI, STATUS, SPEED, LON, LAT, COURSE, HEADING, TIMESTAMP, SHIPNAME, SHIPTYPE, LENGTH, WIDTH, DESTINATION, FLAG, TYPE_COLOR, AREA_ID, ELAPSED, STATION, 
                         IS_COASTAL, SAT60_TIMESTAMP, SAT60_LAT, SAT60_LON, SAT60_SPEED, SAT60_COURSE, SAT360_TIMESTAMP, SAT360_LAT, SAT360_LON, SAT360_SPEED, SAT360_COURSE, SAT720_TIMESTAMP, 
                         SAT720_LAT, SAT720_LON, SAT720_SPEED, SAT720_COURSE, L_FORE, W_LEFT, IMO, CALLSIGN, ETA, DRAUGHT, SHIPTYPE_FULL, PORT_ID, AREA_ID_ALL, PORT_NAME, AREA_NAME, COUNT_PHOTOS, 
                         SHIPTIME, ROT, GT_SHIPTYPE, TYPE_GROUPED_ID, DWT, AIS_SECONDS)
select t2.SHIP_ID, t2.MMSI, t1.STATUS, t1.SPEED, t1.LON, t1.LAT, t3.COURSE, t1.HEADING, t1.TIMESTAMP, t3.SHIPNAME, t1.SHIPTYPE, t1.LENGTH, t1.WIDTH, t3.DESTINATION, t1.FLAG, t1.TYPE_COLOR, t1.AREA_ID, t1.ELAPSED, t1.STATION, 
                         t1.IS_COASTAL, t1.SAT60_TIMESTAMP, t1.SAT60_LAT, t1.SAT60_LON, t1.SAT60_SPEED, t1.SAT60_COURSE, t1.SAT360_TIMESTAMP, t1.SAT360_LAT, t1.SAT360_LON, t1.SAT360_SPEED, t1.SAT360_COURSE, t1.SAT720_TIMESTAMP, 
                         t1.SAT720_LAT, t1.SAT720_LON, t1.SAT720_SPEED, t1.SAT720_COURSE, t1.L_FORE, t1.W_LEFT, t3.IMO, t2.CALLSIGN, t1.ETA, t1.DRAUGHT, t1.SHIPTYPE_FULL, t1.PORT_ID, t1.AREA_ID_ALL, t1.PORT_NAME, t1.AREA_NAME, t1.COUNT_PHOTOS, 
                         t1.SHIPTIME, t1.ROT, t1.GT_SHIPTYPE, t1.TYPE_GROUPED_ID, t3.DWT, t1.AIS_SECONDS

from #S t1
INNER JOIN #S t2 on t1.ROWNUM1 = t2.ROWNUM2
INNER JOIN #S t3 on t1.ROWNUM1 = t3.ROWNUM3

DROP TABLE #S
*/


END


GO
