USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	
-- Create date: [2015-11-30 17:47:47.750]
-- Description:	[v_ship_diff] - alternative procedure for V_SHIP_BATCH , diff updates
-- =============================================
CREATE /*CREATE*/ PROCEDURE [dbo].[tmpx_vs_diff] (
	-- debug flag, for strSql print (DEFAULT = 0 : Don't Print strSql)
	@debug bit = 0 	)
AS
BEGIN
	SET NOCOUNT ON;
	SET QUERY_GOVERNOR_COST_LIMIT 0

--UPDATE V_SHIP_TEMP SET TIMESTAMP=NULL, CURRENT_PORT=NULL, CURRENT_CENTERX=NULL, CURRENT_CENTERY=NULL, CURRENT_ZOOM=NULL, ICON='placeholder.png',
--SAT_TIMESTAMP=NULL WHERE TIMESTAMP IS NOT NULL

/*UPDATE V_SHIP_TEMP
set TIMESTAMP=B.TIMESTAMP, LAST_POS=B.TIMESTAMP, PORT_ID=B.PORT_ID, CURRENT_PORT=B.PORT_NAME,CURRENT_CENTERX=B.CENTERX, CURRENT_CENTERY=B.CENTERY, CURRENT_ZOOM=B.ZOOM,
ICON=COALESCE(B.ICON,'placeholder.png'), LON=B.LON, LAT=B.LAT, HEADING=B.HEADING, SPEED=B.SPEED, STATION=B.STATION, SAT_IS_NEWER=0, OPERATOR=B.OPERATOR,
ETA=B.ETA, DESTINATION=B.DESTINATION, SHIPTIME=B.SHIPTIME
FROM V_SHIP_TEMP A WITH(NOLOCK) INNER JOIN V_POS_ALL B WITH(NOLOCK) ON A.MMSI=B.MMSI AND (A.TIMESTAMP IS NULL OR A.TIMESTAMP<>B.TIMESTAMP) WHERE NOT B.STATION IN (1000, -1, -2)
*/

--USE V_SHIP INSTEAD OF V_POS_ALL
/* !!!! [18:35 19/11/2015]  (CORE- ) !!!!	*/
/* !!!! UPDATE A
set TIMESTAMP=B.TIMESTAMP, LAST_POS=B.LAST_POS, PORT_ID=B.PORT_ID, CURRENT_PORT=B.CURRENT_PORT, CURRENT_PORT_COUNTRY=B.CURRENT_PORT_COUNTRY,
CURRENT_PORT_UNLOCODE=B.CURRENT_PORT_UNLOCODE, CURRENT_CENTERX=B.CENTERX, CURRENT_CENTERY=B.CENTERY, CURRENT_ZOOM=B.CURRENT_ZOOM,
ICON=COALESCE(B.ICON,'placeholder.png'), LON=B.LON, LAT=B.LAT, COURSE=B.COURSE, HEADING=B.HEADING, STATUS_AIS=B.STATUS_AIS, ROT=B.ROT, SPEED=B.SPEED, STATION=B.STATION, SAT_IS_NEWER=0, OPERATOR=B.OPERATOR,
ETA=B.ETA, DESTINATION=B.DESTINATION, DRAUGHT=B.DRAUGHT, SHIPTIME=B.SHIPTIME, AREA_ID=B.AREA_ID, AREA_NAME=B.AREA_NAME,
LAST_PORT_ID=B.LAST_PORT_ID, LAST_PORT=B.LAST_PORT, LAST_PORT_TIME=B.LAST_PORT_TIME, LAST_PORT_COUNTRY=B.LAST_PORT_COUNTRY, LAST_PORT_UNLOCODE=B.LAST_PORT_UNLOCODE,
PREVIOUS_PORT_ID=B.PREVIOUS_PORT_ID, PREVIOUS_PORT=B.PREVIOUS_PORT, PREVIOUS_PORT_TIME=B.PREVIOUS_PORT_TIME, PREVIOUS_PORT_COUNTRY=B.PREVIOUS_PORT_COUNTRY, PREVIOUS_PORT_UNLOCODE=B.PREVIOUS_PORT_UNLOCODE,
NEXT_PORT_ID=B.NEXT_PORT_ID, NEXT_PORT_NAME=B.NEXT_PORT_NAME, NEXT_PORT_COUNTRY=B.NEXT_PORT_COUNTRY, NEXT_PORT_UNLOCODE=B.NEXT_PORT_UNLOCODE,
STATUS_NAME=B.STATUS_NAME, AIS_SHIPNAME=B.AIS_SHIPNAME,
ETA_CALC=B.ETA_CALC, ETA_UPDATED=B.ETA_UPDATED, DISTANCE_TO_GO=B.DISTANCE_TO_GO, SUEZ=B.SUEZ, PANAMA=B.PANAMA,
SAT_ETA_CALC=B.SAT_ETA_CALC, SAT_ETA_UPDATED=B.SAT_ETA_UPDATED, SAT_DISTANCE_TO_GO=B.SAT_DISTANCE_TO_GO, SAT_SUEZ=B.SAT_SUEZ, SAT_PANAMA=B.SAT_PANAMA
,DISTANCE_TRAVELLED=B.DISTANCE_TRAVELLED, SAT_DISTANCE_TRAVELLED=B.SAT_DISTANCE_TRAVELLED
,SPEED_CALC=B.SPEED_CALC, SAT_SPEED_CALC=B.SAT_SPEED_CALC
,CURRENT_PORT_TIMESTAMP=B.CURRENT_PORT_TIMESTAMP,SAT_CURRENT_PORT_TIMESTAMP=B.SAT_CURRENT_PORT_TIMESTAMP, AIS_SECONDS=B.AIS_SECONDS, RELATED_PORT_ID=B.RELATED_PORT_ID
FROM V_SHIP_TEMP A WITH(NOLOCK) INNER JOIN V_SHIP B WITH(NOLOCK) ON A.SHIP_ID=B.SHIP_ID 
AND (A.LAST_POS IS NULL OR A.LAST_POS<>B.LAST_POS OR A.SAT_LAST_POS<>B.SAT_LAST_POS OR A.ETA_UPDATED<>B.ETA_UPDATED OR A.SAT_ETA_UPDATED<>B.SAT_ETA_UPDATED) 
WHERE B.LAST_POS>DATEADD(MINUTE, -10, GETUTCDATE()) OR B.SAT_LAST_POS>DATEADD(HOUR, -3, GETUTCDATE()) 
!!!! */

/* !!!! [18:35 19/11/2015]  (CORE- ) !!!!	*/
declare @syn_object as varchar(50);
declare @strSql as nvarchar(max);
set @syn_object = (SELECT TOP 1 PARSENAME(base_object_name,1) AS objectName 
					FROM MT1.ais.sys.synonyms WHERE name='V_SHIP_BATCH')
;

set @strSql = N'UPDATE  A
SET     TIMESTAMP = B.TIMESTAMP ,
        LAST_POS = B.LAST_POS ,
        PORT_ID = B.PORT_ID ,
        CURRENT_PORT = B.CURRENT_PORT ,
        CURRENT_PORT_COUNTRY = B.CURRENT_PORT_COUNTRY ,
        CURRENT_PORT_UNLOCODE = B.CURRENT_PORT_UNLOCODE ,
        CURRENT_CENTERX = B.CENTERX ,
        CURRENT_CENTERY = B.CENTERY ,
        CURRENT_ZOOM = B.CURRENT_ZOOM ,
        ICON = B.ICON , --xxxx COALESCE(B.ICON, ''placeholder.png'') ,
        LON = B.LON ,
        LAT = B.LAT ,
        COURSE = B.COURSE ,
        HEADING = B.HEADING ,
        STATUS_AIS = B.STATUS_AIS ,
        ROT = B.ROT ,
        SPEED = B.SPEED ,
        STATION = B.STATION ,
        SAT_IS_NEWER = 0 ,
        OPERATOR = B.OPERATOR ,
        ETA = B.ETA ,
        DESTINATION = B.DESTINATION ,
        DRAUGHT = B.DRAUGHT ,
        SHIPTIME = B.SHIPTIME ,
        AREA_ID = B.AREA_ID ,
        AREA_NAME = B.AREA_NAME ,
        LAST_PORT_ID = B.LAST_PORT_ID ,
        LAST_PORT = B.LAST_PORT ,
        LAST_PORT_TIME = B.LAST_PORT_TIME ,
        LAST_PORT_COUNTRY = B.LAST_PORT_COUNTRY ,
        LAST_PORT_UNLOCODE = B.LAST_PORT_UNLOCODE ,
        PREVIOUS_PORT_ID = B.PREVIOUS_PORT_ID ,
        PREVIOUS_PORT = B.PREVIOUS_PORT ,
        PREVIOUS_PORT_TIME = B.PREVIOUS_PORT_TIME ,
        PREVIOUS_PORT_COUNTRY = B.PREVIOUS_PORT_COUNTRY ,
        PREVIOUS_PORT_UNLOCODE = B.PREVIOUS_PORT_UNLOCODE ,
        NEXT_PORT_ID = B.NEXT_PORT_ID ,
        NEXT_PORT_NAME = B.NEXT_PORT_NAME ,
        NEXT_PORT_COUNTRY = B.NEXT_PORT_COUNTRY ,
        NEXT_PORT_UNLOCODE = B.NEXT_PORT_UNLOCODE ,
        STATUS_NAME = B.STATUS_NAME ,
        AIS_SHIPNAME = B.AIS_SHIPNAME ,
        ETA_CALC = B.ETA_CALC ,
        ETA_UPDATED = B.ETA_UPDATED ,
        DISTANCE_TO_GO = B.DISTANCE_TO_GO ,
        SUEZ = B.SUEZ ,
        PANAMA = B.PANAMA ,
        SAT_ETA_CALC = B.SAT_ETA_CALC ,
        SAT_ETA_UPDATED = B.SAT_ETA_UPDATED ,
        SAT_DISTANCE_TO_GO = B.SAT_DISTANCE_TO_GO ,
        SAT_SUEZ = B.SAT_SUEZ ,
        SAT_PANAMA = B.SAT_PANAMA ,
        DISTANCE_TRAVELLED = B.DISTANCE_TRAVELLED ,
        SAT_DISTANCE_TRAVELLED = B.SAT_DISTANCE_TRAVELLED ,
        SPEED_CALC = B.SPEED_CALC ,
        SAT_SPEED_CALC = B.SAT_SPEED_CALC ,
        CURRENT_PORT_TIMESTAMP = B.CURRENT_PORT_TIMESTAMP ,
        SAT_CURRENT_PORT_TIMESTAMP = B.SAT_CURRENT_PORT_TIMESTAMP ,
        AIS_SECONDS = B.AIS_SECONDS ,
        RELATED_PORT_ID = B.RELATED_PORT_ID
FROM    tmpx_VS_TEMP A WITH ( NOLOCK )
		/* !!!! Use V_SHIP_BATCH1/2 istead of [V_SHIP] , from MT1 Linked Server !!!!! */
        INNER JOIN MT1.ais.dbo.'+ @syn_object +' B WITH ( NOLOCK ) ON A.SHIP_ID = B.SHIP_ID
                                               AND ( A.LAST_POS IS NULL
                                                     OR A.LAST_POS <> B.LAST_POS
                                                     OR A.SAT_LAST_POS <> B.SAT_LAST_POS
                                                     OR A.ETA_UPDATED <> B.ETA_UPDATED
                                                     OR A.SAT_ETA_UPDATED <> B.SAT_ETA_UPDATED
                                                   )
WHERE   B.LAST_POS > DATEADD(MINUTE, -10, GETUTCDATE())
        OR B.SAT_LAST_POS > DATEADD(HOUR, -3, GETUTCDATE())'
; 
-- D.P
IF @debug = 1 
BEGIN
	set statistics TIME, IO , xml  OFF;
	--
	DECLARE @syn_temp as varchar(50);
	set @syn_temp = (SELECT TOP 1 PARSENAME(base_object_name,1) AS objectName 
					FROM ais_replica.sys.synonyms WHERE name='tmpx_VS_TEMP')
	print ' syn_temp : [' + @syn_temp +']';
	print '';
	print ' (' + convert(VARCHAR(20), getdate(), 120) + ') strSql : ';
	print @strSql;
	print '';
	print '';
	--
	set statistics TIME, IO, XML  ON;
	
END;
----
-- EXECUTE 'strSql'
EXEC sp_executesql @strSql;



--SATELLITE DATA
/*UPDATE V_SHIP_TEMP
set SAT_TIMESTAMP=B.TIMESTAMP, SAT_LAST_POS=B.TIMESTAMP, PORT_ID=B.PORT_ID, CURRENT_PORT=B.PORT_NAME,CURRENT_CENTERX=B.CENTERX, CURRENT_CENTERY=B.CENTERY, CURRENT_ZOOM=B.ZOOM,
SAT_ICON=COALESCE(B.ICON,'placeholder.png'), SAT_LON=B.LON, SAT_LAT=B.LAT, SAT_HEADING=B.HEADING, SAT_SPEED=B.SPEED, STATION=B.STATION, SAT_IS_NEWER=1, OPERATOR=B.OPERATOR,
ETA=B.ETA, DESTINATION=B.DESTINATION, SHIPTIME=B.SHIPTIME
FROM V_SHIP_TEMP A WITH(NOLOCK) INNER JOIN LAST_SEEN B WITH(NOLOCK) ON A.MMSI=B.MMSI AND SAT_TIMESTAMP<>B.TIMESTAMP WHERE B.STATION IN (1000,-1,-2)
*/

--UPDATE SAT DATA
UPDATE a
  SET a.SAT_TIMESTAMP=B.SAT_TIMESTAMP, a.SAT_LAST_POS=B.SAT_TIMESTAMP, a.PORT_ID=CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_PORT_ID ELSE A.PORT_ID END, 
  a.CURRENT_PORT=CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_PORT_NAME ELSE A.CURRENT_PORT END,
  a.SAT_LON=B.SAT_LON, a.SAT_LAT=B.SAT_LAT, a.SAT_HEADING=B.SAT_COURSE, a.SAT_SPEED=B.SAT_SPEED, a.STATION=B.STATION, a.SAT_IS_NEWER=B.SAT_IS_NEWER,
  a.SAT60_TIMESTAMP = b.SAT60_TIMESTAMP, a.SAT60_SPEED=b.SAT60_SPEED, a.SAT60_COURSE=b.SAT60_COURSE, a.SAT60_LAT=b.SAT60_LAT, a.SAT60_LON=b.SAT60_LON,
  a.SAT360_TIMESTAMP = b.SAT360_TIMESTAMP, a.SAT360_SPEED=b.SAT360_SPEED, a.SAT360_COURSE=b.SAT360_COURSE, a.SAT360_LAT=b.SAT360_LAT, a.SAT360_LON=b.SAT360_LON,
  a.SAT720_TIMESTAMP = b.SAT720_TIMESTAMP, a.SAT720_SPEED=b.SAT720_SPEED, a.SAT720_COURSE=b.SAT720_COURSE, a.SAT720_LAT=b.SAT720_LAT, a.SAT720_LON=b.SAT720_LON,
  a.IS_COASTAL=b.IS_COASTAL
  FROM tmpx_VS_TEMP AS a WITH(NOLOCK) 
  INNER JOIN MT1.ais.dbo.LAST_SEEN_SHIP AS b WITH(NOLOCK) 
  ON a.SHIP_ID = b.SHIP_ID 
  WHERE B.SAT_TIMESTAMP>DATEADD(HOUR,-20,GETUTCDATE())

--SWAP NAMES - FASTER
--if exists (select top(1) * from V_SHIP_TEMP) --do not swap tables if something went wrong and table is empty
--begin
--BEGIN TRAN
--exec sp_rename 'V_SHIP_BATCH', 'V_SHIP_TEMP1'
--exec sp_rename 'V_SHIP_TEMP', 'V_SHIP_BATCH'
--exec sp_rename 'V_SHIP_TEMP1', 'V_SHIP_TEMP'
--COMMIT
--end



--rename table replaced by swapping synonyms
if exists (select top(1) * from tmpx_VS_TEMP)
begin
	--xxxx declare @syn_object as varchar(50)
	set @syn_object = (SELECT TOP 1 PARSENAME(base_object_name,1) AS objectName 
						FROM sys.synonyms WHERE name='tmpx_VS_BATCH')
	if(@syn_object='tmpx_VS_BATCH1')
	begin
	begin tran
		DROP SYNONYM [dbo].[tmpx_VS_BATCH] 
		CREATE SYNONYM [dbo].[tmpx_VS_BATCH] FOR [dbo].[tmpx_VS_BATCH2]  
		DROP SYNONYM [dbo].[tmpx_VS_TEMP] 
		CREATE SYNONYM [dbo].[tmpx_VS_TEMP] FOR [dbo].[tmpx_VS_BATCH1]  
	commit
	end
	else if(@syn_object='tmpx_VS_BATCH2')
	begin
	begin tran
		DROP SYNONYM [dbo].[tmpx_VS_BATCH] 
		CREATE SYNONYM [dbo].[tmpx_VS_BATCH] FOR [dbo].[tmpx_VS_BATCH1]  
		DROP SYNONYM [dbo].[tmpx_VS_TEMP] 
		CREATE SYNONYM [dbo].[tmpx_VS_TEMP] FOR [dbo].[tmpx_VS_BATCH2]  
	commit
	end
	else if(@syn_object is null)
	begin
		CREATE SYNONYM [dbo].[tmpx_VS_BATCH] FOR [dbo].[tmpx_VS_BATCH1]  
		CREATE SYNONYM [dbo].[tmpx_VS_TEMP] FOR [dbo].[tmpx_VS_BATCH2]  
	end
end

  --export to CSV, to be imported to mySQL
--exec msdb..sp_start_job 'export_V_SHIP_BATCH_DIFF'

END


GO
