USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[v_arr_dep_batch_sp]
AS
BEGIN
	SET NOCOUNT ON;

	SET QUERY_GOVERNOR_COST_LIMIT 0

--V_ARR_DEP
--TRUNCATE TABLE V_ARR_DEP_TEMP
--INSERT INTO V_ARR_DEP_TEMP (SHIPNAME, PORT_NAME, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, ARRIVAL, DEPARTURE, ARR_DEP_SORT)
--(SELECT SHIPNAME, PORT_NAME, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, ARRIVAL, DEPARTURE, COALESCE (ARRIVAL, DEPARTURE) FROM V_ARR_DEP_ALL)

--Refresh only last 6 hours
DELETE FROM V_ARR_DEP_TEMP WHERE ARR_DEP_SORT<GETUTCDATE()-60 OR ARR_DEP_SORT>DATEADD(HOUR, -6, GETUTCDATE())
INSERT INTO V_ARR_DEP_TEMP WITH (TABLOCK) (SHIP_ID, SHIPNAME, PORT_NAME, COUNTRY_CODE, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, TIMEZONE, ARRIVAL, DEPARTURE, ARR_DEP_SORT, ARRIVAL_UTC, DEPARTURE_UTC, INTRANSIT, TYPE_COLOR)
(SELECT SHIP_ID, SHIPNAME, PORT_NAME, COUNTRY_CODE, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, TIMEZONE, ARRIVAL, DEPARTURE, ARR_DEP_SORT, ARRIVAL_UTC, DEPARTURE_UTC, INTRANSIT, TYPE_COLOR
FROM MT1.ais.dbo.V_ARR_DEP_ALL WITH(NOLOCK)
WHERE ARR_DEP_SORT>DATEADD(HOUR, -6, GETUTCDATE()))
--delete duplicate arrivals
DELETE FROM V_ARR_DEP_TEMP WHERE ARRIVAL IS NOT NULL AND DEPARTURE IS NULL 
AND EXISTS (SELECT 1 FROM V_ARR_DEP_TEMP B WHERE MMSI=V_ARR_DEP_TEMP.MMSI AND PORT_ID=V_ARR_DEP_TEMP.PORT_ID AND ARRIVAL=V_ARR_DEP_TEMP.ARRIVAL AND DEPARTURE IS NOT NULL)

exec sp_rename 'V_ARR_DEP_BATCH', 'V_ARR_DEP_TEMP1'
exec sp_rename 'V_ARR_DEP_TEMP', 'V_ARR_DEP_BATCH'
exec sp_rename 'V_ARR_DEP_TEMP1', 'V_ARR_DEP_TEMP'



END




GO
