USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
-- CREATE 
CREATE PROCEDURE [dbo].[v_ship_batch_sp]
AS
/* ** [17:24 30/11/2016] SYS-134 (mt14)  SYS-134_DropUnusedCols_mt14
-- update sql due to removed columns :
	[CURRENT_CENTERX] [real] ,
	[CURRENT_CENTERY] [real] ,
	[CENTERX] [real] ,
	[CENTERY] [real] ,
	[CURRENT_ZOOM] [tinyint] ,
	[ZOOM] [tinyint] ,
	[ICON] [varchar](86) ,
	[SAT_LAST_PORT_CENTERX] [real] ,
	[SAT_LAST_PORT_CENTERY] [real] ,
	[SAT_ICON] [varchar](86)
	
-- [22:52 19/3/2017] (SYS-100) Migr to (mt2) : Added  "ALTER Schema .. TRANSFER" for DROP-CREATE SCHEMA 	
** */
BEGIN
	SET NOCOUNT ON;
	SET QUERY_GOVERNOR_COST_LIMIT 0
	SET DEADLOCK_PRIORITY HIGH;
	SET CONCAT_NULL_YIELDS_NULL OFF;

declare @syn_object as varchar(50)
set @syn_object = (SELECT TOP 1 PARSENAME(base_object_name,1) AS objectName 
FROM sys.synonyms WHERE name='V_SHIP_BATCH')

DECLARE @DetErrorMess VARCHAR(MAX), @ErrorSeverity  tinyint, @ErrorState tinyint;
-- ** [19:06 26/7/2016] DATA-3194: [v_ship_batch_job] PK Violation errors (improve sp)
-- **	sp not failling totally after:  Error on INSERTs
BEGIN TRY
	BEGIN TRAN;
	UPDATE A
	set MMSI=B.MMSI, IMO=B.IMO, CALLSIGN=B.CALLSIGN, SHIPNAME=B.SHIPNAME, TIMESTAMP=B.TIMESTAMP, PORT_ID=B.PORT_ID, CURRENT_PORT=B.CURRENT_PORT, 
	CURRENT_PORT_COUNTRY=B.CURRENT_PORT_COUNTRY, CURRENT_PORT_UNLOCODE=B.CURRENT_PORT_UNLOCODE, TYPE_NAME=B.TYPE_NAME, GT_SHIPTYPE=B.GT_SHIPTYPE, 
	COUNTRY=B.COUNTRY, LAST_PORT_ID=B.LAST_PORT_ID, LAST_PORT=B.LAST_PORT, LAST_PORT_TIME=B.LAST_PORT_TIME, LAST_PORT_COUNTRY=B.LAST_PORT_COUNTRY, 
	LAST_PORT_UNLOCODE=B.LAST_PORT_UNLOCODE, PREVIOUS_PORT_ID=B.PREVIOUS_PORT_ID, PREVIOUS_PORT=B.PREVIOUS_PORT, PREVIOUS_PORT_TIME=B.PREVIOUS_PORT_TIME, 
	PREVIOUS_PORT_COUNTRY=B.PREVIOUS_PORT_COUNTRY, PREVIOUS_PORT_UNLOCODE=B.PREVIOUS_PORT_UNLOCODE,	NEXT_PORT_ID=B.NEXT_PORT_ID, NEXT_PORT_NAME=B.NEXT_PORT_NAME, 
	NEXT_PORT_COUNTRY=B.NEXT_PORT_COUNTRY, NEXT_PORT_UNLOCODE=B.NEXT_PORT_UNLOCODE, LON=B.LON, LAT=B.LAT, ETA=B.ETA, DRAUGHT=B.DRAUGHT, DESTINATION=B.DESTINATION, 
	SHIPTIME=B.SHIPTIME, LENGTH=B.LENGTH, WIDTH=B.WIDTH, CODE2=B.CODE2, COUNT_PHOTOS=B.COUNT_PHOTOS, SHIPTYPE=B.SHIPTYPE, TYPE_COLOR=B.TYPE_COLOR, 
	/*CURRENT_CENTERX=B.CURRENT_CENTERX, CURRENT_CENTERY=B.CURRENT_CENTERY, CENTERX=B.CENTERX, CENTERY=B.CENTERY,*/ MAXSPEED=B.MAXSPEED, AVGSPEED=B.AVGSPEED, 
	/*CURRENT_ZOOM=B.CURRENT_ZOOM, ZOOM=B.ZOOM,*/ TYPE_SUMMARY=B.TYPE_SUMMARY, LAST_POS=B.LAST_POS, DWT=B.DWT, YOB=B.YOB, GRT=B.GRT, [STATUS]=B.STATUS, AREA_ID=B.AREA_ID, 
	AREA_NAME=B.AREA_NAME, COURSE=B.COURSE, HEADING=B.HEADING, STATUS_AIS=B.STATUS_AIS, ROT=B.ROT, SPEED=B.SPEED, /*ICON=B.ICON,*/ STATION=B.STATION,
	SAT_LON=B.SAT_LON, SAT_LAT=B.SAT_LAT, SAT_AREA_ID=B.SAT_AREA_ID, SAT_AREA_NAME=B.SAT_AREA_NAME, SAT_PORT_NAME=B.SAT_PORT_NAME, SAT_PORT_ID=B.SAT_PORT_ID, 
	SAT_TIMESTAMP=B.SAT_TIMESTAMP, SAT_LAST_POS=B.SAT_LAST_POS, SAT_SPEED=B.SAT_SPEED, SAT_COURSE=B.SAT_COURSE, SAT_HEADING=B.SAT_HEADING, 
	SAT_LAST_PORT_ID=B.SAT_LAST_PORT_ID, SAT_LAST_PORT_TIMESTAMP=B.SAT_LAST_PORT_TIMESTAMP, SAT_LAST_PORT_COUNTRY=B.SAT_LAST_PORT_COUNTRY, 
	SAT_IS_NEWER=B.SAT_IS_NEWER, SAT_LAST_PORT_NAME=B.SAT_LAST_PORT_NAME, SAT_LAST_PORT_ZOOM=B.SAT_LAST_PORT_ZOOM, /*SAT_LAST_PORT_CENTERX=B.SAT_LAST_PORT_CENTERX, 
	SAT_LAST_PORT_CENTERY=B.SAT_LAST_PORT_CENTERY, SAT_ICON=B.SAT_ICON,*/ IS_COASTAL=B.IS_COASTAL, SAT60_TIMESTAMP=B.SAT60_TIMESTAMP, SAT60_LAT=B.SAT60_LAT, 
	SAT60_LON=B.SAT60_LON, SAT60_SPEED=B.SAT60_SPEED, SAT60_COURSE=B.SAT60_COURSE, SAT360_TIMESTAMP=B.SAT360_TIMESTAMP, SAT360_LAT=B.SAT360_LAT, 
	SAT360_LON=B.SAT360_LON, SAT360_SPEED=B.SAT360_SPEED, SAT360_COURSE=B.SAT360_COURSE, SAT720_TIMESTAMP=B.SAT720_TIMESTAMP, SAT720_LAT=B.SAT720_LAT, 
	SAT720_LON=B.SAT720_LON, SAT720_SPEED=B.SAT720_SPEED, SAT720_COURSE=B.SAT720_COURSE, OPERATOR=B.OPERATOR, SAT_ETA=B.SAT_ETA, SAT_DESTINATION=B.SAT_DESTINATION, 
	SAT_SHIPTIME=B.SAT_SHIPTIME, BUILDER_ID=B.BUILDER_ID, MANAGER_ID=B.MANAGER_ID, OWNER_ID=B.OWNER_ID, STATUS_NAME=B.STATUS_NAME, AIS_SHIPNAME=B.AIS_SHIPNAME,
	ETA_CALC=B.ETA_CALC, ETA_UPDATED=B.ETA_UPDATED, DISTANCE_TO_GO=B.DISTANCE_TO_GO, SUEZ=B.SUEZ, PANAMA=B.PANAMA, SAT_ETA_CALC=B.SAT_ETA_CALC, 
	SAT_ETA_UPDATED=B.SAT_ETA_UPDATED, SAT_DISTANCE_TO_GO=B.SAT_DISTANCE_TO_GO, SAT_SUEZ=B.SAT_SUEZ, SAT_PANAMA=B.SAT_PANAMA, DISTANCE_TRAVELLED=B.DISTANCE_TRAVELLED, 
	SAT_DISTANCE_TRAVELLED=B.SAT_DISTANCE_TRAVELLED, SPEED_CALC=B.SPEED_CALC, SAT_SPEED_CALC=B.SAT_SPEED_CALC, CURRENT_PORT_TIMESTAMP=B.CURRENT_PORT_TIMESTAMP,
	SAT_CURRENT_PORT_TIMESTAMP=B.SAT_CURRENT_PORT_TIMESTAMP, TYPE_GROUPED_ID=B.TYPE_GROUPED_ID, AIS_SECONDS=B.AIS_SECONDS, RELATED_PORT_ID=B.RELATED_PORT_ID, 
	DRAUGHT_MIN=B.DRAUGHT_MIN, DRAUGHT_MAX=B.DRAUGHT_MAX, INLAND_ENI=B.INLAND_ENI, AREA_CODE=B.AREA_CODE, SAT_AREA_CODE=B.SAT_AREA_CODE, LOAD_STATUS_ID=B.LOAD_STATUS_ID, 
	LOAD_STATUS_NAME=B.LOAD_STATUS_NAME, TIMEZONE=B.TIMEZONE, WIND_ANGLE=B.WIND_ANGLE, WIND_SPEED=B.WIND_SPEED, WIND_TEMP=B.WIND_TEMP, L_FORE=B.L_FORE, W_LEFT=B.W_LEFT,
	TERRSAT_TIMESTAMP=B.TERRSAT_TIMESTAMP, TERRSAT_LAT=B.TERRSAT_LAT, TERRSAT_LON=B.TERRSAT_LON, TERRSAT_SPEED=B.TERRSAT_SPEED, TEU=B.TEU, LIQUID_GAS=B.LIQUID_GAS
	,STATION_SHOW=B.STATION_SHOW
	,CURRENT_PORT_OFFSET=B.CURRENT_PORT_OFFSET, LAST_PORT_OFFSET=B.LAST_PORT_OFFSET, PREVIOUS_PORT_OFFSET=B.PREVIOUS_PORT_OFFSET, ETA_OFFSET=B.ETA_OFFSET, ETA_CALC_OFFSET=B.ETA_CALC_OFFSET
	,BIT_FLAGS=B.BIT_FLAGS
	FROM V_SHIP_TEMP A WITH(NOLOCK) INNER JOIN MT1.ais.dbo.V_SHIP B WITH(NOLOCK) ON A.SHIP_ID=B.SHIP_ID 
	WHERE B.SHIPTIME>DATEADD(DAY, -2, GETUTCDATE()) OR B.GT_TIMESTAMP>DATEADD(DAY, -2, GETUTCDATE())  
	--OPTION (MAXDOP 1); 
	
	set @DetErrorMess=convert(varchar(400),@@ROWCOUNT);

	DELETE A FROM V_SHIP_TEMP A WHERE NOT EXISTS (SELECT 1 FROM MT1.ais.dbo.V_SHIP B WHERE B.SHIP_ID=A.SHIP_ID)

	--Serach Rank update
	UPDATE A 
	SET A.SEARCH_RANK=B.RANK
	FROM V_SHIP_TEMP A INNER JOIN SEARCH B ON A.SHIP_ID=B.SHIP_ID
	WHERE B.TYPE_ID=1

-- xxxx D.p: success message
	PRINT ' **** '+@@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
	PRINT ' ** v_ship_batch_sp : (UPDATEs on NOT:['+@syn_object+']) row(s) affected: ' + @DetErrorMess;
	COMMIT TRAN;		
END TRY
BEGIN CATCH
	--
	SET @ErrorSeverity = ERROR_SEVERITY()
	SET @ErrorState    = ERROR_STATE()
	SET @DetErrorMess =  ' **** ERROR_NUMBER ' +        
	  CAST(ERROR_NUMBER() AS VARCHAR) + ' : '+
	  CAST(@ErrorSeverity AS VARCHAR) + ' : ' +
	  CAST(@ErrorState AS VARCHAR) + ' : ' +
	  ERROR_PROCEDURE() + ' : ' +
	  ERROR_MESSAGE() + ' : ERROR_LINE ' +
	  CAST(ERROR_LINE() AS VARCHAR);
	
	-- Test XACT_STATE for 1 or -1. XACT_STATE = 0 means there is no transaction
	--	and a commit or rollback operation would generate an error.
	IF (XACT_STATE()) <> 0
	BEGIN
		--D.p: PRINT XACT_STATE(); 
		ROLLBACK TRAN;
		-- D.p: PRINT 'after: ' + CAST(XACT_STATE() AS VARCHAR(10));
	END;
	-- detailed error message....return
	PRINT ' **** '+@@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
	RAISERROR(@DetErrorMess, @ErrorSeverity, @ErrorState) WITH LOG;
	RETURN;
END CATCH;
-- ** ENDoF:  [19:06 26/7/2016] DATA-3194


--rename table replaced by swapping synonyms
-- [22:52 19/3/2017] (SYS-100) Migr to (mt2) : Added  "ALTER Schema .. TRANSFER" for DROP-CREATE SCHEMA
if exists (select top(1) * from V_SHIP_TEMP) --do not swap tables if something went wrong and table is empty
BEGIN
	if(@syn_object='V_SHIP_BATCH1')
	begin
	BEGIN TRAN
		DROP SYNONYM [shad].[V_SHIP_BATCH];
		CREATE SYNONYM [shad].[V_SHIP_BATCH] FOR [dbo].[V_SHIP_BATCH2];
		ALTER SCHEMA [fk] TRANSFER [dbo].[V_SHIP_BATCH];
		ALTER SCHEMA [dbo] TRANSFER [shad].[V_SHIP_BATCH];
		ALTER SCHEMA [shad] TRANSFER [fk].[V_SHIP_BATCH];
		--
		DROP SYNONYM [dbo].[V_SHIP_TEMP]; 
		CREATE SYNONYM [dbo].[V_SHIP_TEMP] FOR [dbo].[V_SHIP_BATCH1];
	COMMIT TRAN;  
	end
	else if(@syn_object='V_SHIP_BATCH2')
	begin
		BEGIN TRAN
			DROP SYNONYM [shad].[V_SHIP_BATCH];
			CREATE SYNONYM [shad].[V_SHIP_BATCH] FOR [dbo].[V_SHIP_BATCH1];
			ALTER SCHEMA [fk] TRANSFER [dbo].[V_SHIP_BATCH];
			ALTER SCHEMA [dbo] TRANSFER [shad].[V_SHIP_BATCH];
			ALTER SCHEMA [shad] TRANSFER [fk].[V_SHIP_BATCH];
			--
			DROP SYNONYM [dbo].[V_SHIP_TEMP]; 
			CREATE SYNONYM [dbo].[V_SHIP_TEMP] FOR [dbo].[V_SHIP_BATCH2];
		COMMIT TRAN;  
	end
	else if(@syn_object is null)
	begin
		CREATE SYNONYM [dbo].[V_SHIP_BATCH] FOR [dbo].[V_SHIP_BATCH1]  
		CREATE SYNONYM [dbo].[V_SHIP_TEMP] FOR [dbo].[V_SHIP_BATCH2]  
	end
END


--export to CSV, to be imported to mySQL
--exec msdb..sp_start_job 'export_V_SHIP_BATCH'

--ADD NEW SHIPS INTO SHIP_WIKI
insert into SHIP_WIKI (MMSI,IMO,BUILT_YEAR,DWT,LOA,BEAM,DRAFT,GT) (SELECT MMSI,IMO,YOB,DWT,LENGTH,WIDTH,DRAUGHT,GRT FROM V_SHIP_BATCH WITH(NOLOCK) WHERE 
NOT EXISTS (SELECT 1 FROM SHIP_WIKI A WITH(NOLOCK) WHERE (A.IMO>1000000 AND A.IMO=V_SHIP_BATCH.IMO) OR (A.IMO<1000000 AND A.MMSI=V_SHIP_BATCH.MMSI)))

END



GO
