USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREAS_TEMP](
	[AREA_ID] [smallint] NOT NULL,
	[AREA_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[SW_X] [real] NULL,
	[SW_Y] [real] NULL,
	[NE_X] [real] NULL,
	[NE_Y] [real] NULL,
	[ZOOM] [int] NULL,
	[SHOWONMAP] [bit] NULL,
	[TREEORDER] [int] NULL,
	[POLYGON] [geography] NULL,
	[AREA_CODE] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[HAS_ALERT] [bit] NULL,
 CONSTRAINT [PK_AREAS_1] PRIMARY KEY CLUSTERED 
(
	[AREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG01DT]
) ON [FG01DT] TEXTIMAGE_ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [coords] ON [dbo].[AREAS_TEMP]
(
	[SW_X] ASC,
	[SW_Y] ASC,
	[NE_X] ASC,
	[NE_Y] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AREAS_TEMP] ADD  CONSTRAINT [DF_AREAS_ZOOM]  DEFAULT ((12)) FOR [ZOOM]
GO
ALTER TABLE [dbo].[AREAS_TEMP] ADD  CONSTRAINT [DF_AREAS_SHOWONMAP]  DEFAULT ((0)) FOR [SHOWONMAP]
GO
ALTER TABLE [dbo].[AREAS_TEMP] ADD  CONSTRAINT [DF_AREAS_HAS_ALERTS]  DEFAULT ((0)) FOR [HAS_ALERT]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
CREATE SPATIAL INDEX [polygon] ON [dbo].[AREAS_TEMP]
(
	[POLYGON]
)USING  GEOGRAPHY_AUTO_GRID 
WITH (
CELLS_PER_OBJECT = 12, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG01DT]
GO
