USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[L_PORT_TYPE](
	[PORT_TYPE_ID] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[PORT_TYPE_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[PORT_TYPE_LEXIKON] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
 CONSTRAINT [PK_L_PORT_TYPE] PRIMARY KEY CLUSTERED 
(
	[PORT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG01DT]
) ON [FG01DT]

GO
