USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROUTES](
	[id] [int] NOT NULL,
	[PORT_START] [smallint] NOT NULL,
	[PORT_TARGET] [smallint] NOT NULL,
	[PATH] [geography] NULL,
	[MAX_TIME_INTERVAL] [int] NULL,
	[SOURCE] [varchar](3) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[TIM] [smalldatetime] NULL,
	[PANAMA] [bit] NULL,
	[SUEZ] [bit] NULL,
	[GIBRALTAR] [bit] NULL,
	[DISTANCE] [float] NULL,
	[MALACCA] [bit] NULL,
	[MAX_DIST_INTERVAL] [real] NULL,
	[BEARING_START] [real] NULL,
	[BEARING_TARGET] [real] NULL,
	[INLAND_PATH] [bit] NULL,
	[SOURCE_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_ROUTES_1] PRIMARY KEY CLUSTERED 
(
	[PORT_TARGET] ASC,
	[PORT_START] ASC,
	[SOURCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG01DT]
) ON [FG01DT] TEXTIMAGE_ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [ID] ON [dbo].[ROUTES]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [PORT_START] ON [dbo].[ROUTES]
(
	[PORT_START] ASC,
	[PORT_TARGET] ASC,
	[SOURCE] ASC
)
INCLUDE ( 	[id],
	[PATH],
	[BEARING_START],
	[BEARING_TARGET]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [PORT_TARGET] ON [dbo].[ROUTES]
(
	[PORT_TARGET] ASC,
	[PORT_START] ASC,
	[SOURCE] ASC
)
INCLUDE ( 	[id],
	[PATH],
	[BEARING_START],
	[BEARING_TARGET]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ROUTES] ADD  CONSTRAINT [DF_ROUTES_TIM_1]  DEFAULT (getutcdate()) FOR [TIM]
GO
ALTER TABLE [dbo].[ROUTES] ADD  CONSTRAINT [DF_ROUTES_INLAND_1]  DEFAULT ((0)) FOR [INLAND_PATH]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
CREATE SPATIAL INDEX [PATH] ON [dbo].[ROUTES]
(
	[PATH]
)USING  GEOGRAPHY_GRID 
WITH (GRIDS =(LEVEL_1 = LOW,LEVEL_2 = LOW,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 8, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [FG01DT]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
CREATE SPATIAL INDEX [PATH_64H] ON [dbo].[ROUTES]
(
	[PATH]
)USING  GEOGRAPHY_GRID 
WITH (GRIDS =(LEVEL_1 = HIGH,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 64, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [FG01DT]
GO
