USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIP_GT_MASTER_TEMP](
	[TIMESTAMP] [datetime2](0) NULL,
	[CREATED] [datetime2](0) NULL,
	[UPDATED] [datetime2](0) NULL,
	[IMO_NUMBER] [int] NOT NULL,
	[NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[STATUS] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MMSI_CODE] [int] NULL,
	[VESSEL_TYPE] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[GROSS_TONNAGE] [int] NULL,
	[SUMMER_DWT] [int] NULL,
	[BUILD] [int] NULL,
	[BUILDER] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[BUILDER_ID] [int] NULL,
	[FLAG] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[LAST_KNOWN_FLAG] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[HOME_PORT] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[REGISTRATION_NUMBER] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CLASS_SOCIETY] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CLASS_SOCIETY_ID] [int] NULL,
	[MANAGER_OWNER] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MANAGER_OWNER_ID] [int] NULL,
	[MANAGER_OWNER_LOCATION] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MANAGER_OWNER_TOWN] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MANAGER_OWNER_COUNTRY] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MANAGER_OWNER_EMAIL] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MANAGER_OWNER_WEBSITE] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MANAGER] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MANAGER_ID] [int] NULL,
	[MANAGER_LOCATION] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MANAGER_TOWN] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MANAGER_COUNTRY] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MANAGER_EMAIL] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MANAGER_WEBSITE] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[OWNER] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[OWNER_ID] [int] NULL,
	[OWNER_LOCATION] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[OWNER_TOWN] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[OWNER_COUNTRY] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[OWNER_EMAIL] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[OWNER_WEBSITE] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[INSURER] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[INSURER_ID] [int] NULL,
	[PLACE_OF_BUILD] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[BUILD_START] [date] NULL,
	[BUILD_END] [date] NULL,
	[DATE_OF_ORDER] [date] NULL,
	[DELIVERY_DATE] [date] NULL,
	[KEEL_LAID] [date] NULL,
	[LAUNCH_DATE] [date] NULL,
	[STEEL_CUTTING] [date] NULL,
	[YARD_NUMBER] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CLASS_ASSIGNMENT] [varchar](12) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CLASS_NOTATION] [varchar](512) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[LAST_DRYDOCK_SURVEY] [date] NULL,
	[LAST_HULL_SURVEY] [date] NULL,
	[LAST_SPECIAL_SURVEY] [date] NULL,
	[NEXT_DRYDOCK_SURVEY] [date] NULL,
	[NEXT_HULL_SURVEY] [date] NULL,
	[NEXT_SPECIAL_SURVEY] [date] NULL,
	[SPEED_SERVICE] [real] NULL,
	[SPEED_TRIAL] [real] NULL,
	[SPEED_MAX] [real] NULL,
	[SERVICE_LIMIT] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[TRADING_AREAS] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[BOW_TO_BRIDGE] [real] NULL,
	[BOW_TO_CENTER_MANIFOLD] [real] NULL,
	[BREADTH_REGISTERED] [real] NULL,
	[BREADTH_EXTREME] [real] NULL,
	[BREADTH_MOULDED] [real] NULL,
	[BULB_LENGTH_FROM_FP] [real] NULL,
	[DEPTH] [real] NULL,
	[DRAUGHT] [real] NULL,
	[HEIGHT] [real] NULL,
	[KEEL_TO_MASTHEAD] [real] NULL,
	[FORECASTLE] [real] NULL,
	[LENGTH_B_W_PERPENDICULARS] [real] NULL,
	[LENGTH_OVERALL] [real] NULL,
	[LENGTH_REGISTERED] [real] NULL,
	[NET_TONNAGE] [int] NULL,
	[PANAMA_TONNAGE] [int] NULL,
	[PANAMA_NET_TONNAGE] [int] NULL,
	[SUEZ_GROSS_TONNAGE] [int] NULL,
	[SUEZ_NET_TONNAGE] [int] NULL,
	[DEADWEIGHT_MAXIMUM_ASSIGNED] [int] NULL,
	[DEADWEIGHT_NORMAL_BALLAST] [int] NULL,
	[DEADWEIGHT_SEGREGATED_BALLAST] [int] NULL,
	[DEADWEIGHT_TROPICAL] [int] NULL,
	[DEADWEIGHT_WINTER] [int] NULL,
	[DEADWEIGHT_LIGHTSHIP] [int] NULL,
	[DISPLACEMENT_LIGHTSHIP] [int] NULL,
	[DISPLACEMENT_NORMAL_BALLAST] [int] NULL,
	[DISPLACEMENT_SEGREGATED_BALLAST] [int] NULL,
	[DISPLACEMENT_SUMMER] [int] NULL,
	[DISPLACEMENT_TROPICAL] [int] NULL,
	[DISPLACEMENT_WINTER] [int] NULL,
	[DRAFT_LIGHTSHIP] [real] NULL,
	[DRAFT_NORMAL_BALLAST] [real] NULL,
	[DRAFT_SEGREGATED_BALLAST] [real] NULL,
	[DRAFT_SUMMER] [real] NULL,
	[DRAFT_TROPICAL] [real] NULL,
	[DRAFT_WINTER] [real] NULL,
	[DRAUGHT_AFT_NORMAL_BALLAST] [real] NULL,
	[DRAUGHT_FORE_NORMAL_BALLAST] [real] NULL,
	[FREEBOARD_LIGHTSHIP] [real] NULL,
	[FREEBOARD_NORMAL_BALLAST] [real] NULL,
	[FREEBOARD_SEGREGATED_BALLAST] [real] NULL,
	[FREEBOARD_SUMMER] [real] NULL,
	[FREEBOARD_TROPICAL] [real] NULL,
	[FREEBOARD_WINTER] [real] NULL,
	[BALE] [int] NULL,
	[GRAIN] [int] NULL,
	[TEU] [int] NULL,
	[PASSENGERS] [int] NULL,
	[BERTHS] [int] NULL,
	[CABINS] [int] NULL,
	[TRAILERS] [int] NULL,
	[CARS] [int] NULL,
	[RO-RO_RAMPS] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[RO-RO_LANES] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CARGO_SPACE] [int] NULL,
	[FWA_SUMMER_DRAFT] [real] NULL,
	[TPC_IMMERSION_SUMMER_DRAFT] [real] NULL,
	[BALLAST] [int] NULL,
	[BALLAST_SEGREGATED] [int] NULL,
	[BUNKER] [real] NULL,
	[CRUDE_CAPACITY] [real] NULL,
	[LIQUID_OIL] [int] NULL,
	[LIQUID_GAS] [int] NULL,
	[SLOPS] [int] NULL,
	[CARGO_PUMPS] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[HATCHWAYS] [varchar](256) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[LARGEST_HATCH] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[LIFTING_EQUIPMENT] [varchar](256) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CARGO_HANDLING] [varchar](256) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CRANES] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[GEAR] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[HOLDS] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[BULKHEADS] [int] NULL,
	[TRANSVERSE_BULKHEADS] [int] NULL,
	[LONGITUDINAL_FRAMES] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[DECKS_NUMBER] [int] NULL,
	[CONTINUOUS_DECKS] [int] NULL,
	[WATERTIGHT_COMPARTMENTS] [int] NULL,
	[HULL_MATERIAL] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[HULL_TYPE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ANCHOR_CHAIN_DIAMETER] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ANCHOR_HOLDING_ABILITY] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ANCHOR_STRENGTH_LEVEL] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ENGINE_NUMBER] [int] NULL,
	[ENGINE] [int] NULL,
	[ENGINE_TYPE] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ENGINE_BORE] [int] NULL,
	[ENGINE_BUILD_YEAR] [int] NULL,
	[ENGINE_BUILDER] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ENGINE_BUILDER_ID] [int] NULL,
	[ENGINE_MODEL] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ENGINE_CYLINDERS] [int] NULL,
	[ENGINE_POWER] [int] NULL,
	[ENGINE_RPM] [int] NULL,
	[ENGINE_STROKE] [int] NULL,
	[ENGINE_RATIO] [int] NULL,
	[FRESHWATER] [real] NULL,
	[FUEL_CONSUMPTION] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[FUEL] [int] NULL,
	[FUEL_OIL] [int] NULL,
	[FUEL_TYPE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[DIESEL_OIL] [real] NULL,
	[LUBE_OIL] [int] NULL,
	[PROPELLER] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[PROPELLING_TYPE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CALL_SIGN] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[SATCOM_ANSWER_BACK] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[SATCOM_ID] [int] NULL,
	[ACTUAL_MANNING_OFFICERS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ACTUAL_MANNING_RATINGS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MINIMUM_MANNING_REQUIRED_OFFICERS] [int] NULL,
	[MINIMUM_MANNING_REQUIRED_RATINGS] [int] NULL,
	[TOTAL_CREW] [int] NULL,
	[HYDRAULIC_OIL_CAPACITY] [real] NULL,
	[DESCRIPTION] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[NUMBER_OF_TANKS] [smallint] NULL,
	[TANKS_TOTAL_CAPACITY] [real] NULL,
	[BROKEN_UP] [date] NULL,
	[CONVERSION] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
 CONSTRAINT [PK_SHIP_GT_MASTER] PRIMARY KEY CLUSTERED 
(
	[IMO_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG01DT]
) ON [FG01DT]

GO
ALTER TABLE [dbo].[SHIP_GT_MASTER_TEMP] ADD  CONSTRAINT [DF_SHIP_GT_MASTER_TEMP_TIMESTAMP]  DEFAULT (getutcdate()) FOR [TIMESTAMP]
GO
