USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAT_PORTS_BATCH](
	[PORT_ID] [smallint] NOT NULL,
	[TIMESTAMP] [datetime] NOT NULL,
	[CARGO] [smallint] NULL,
	[TANKER] [smallint] NULL,
	[PASSENGER] [smallint] NULL,
	[OTHER] [smallint] NULL,
	[TUG] [smallint] NULL,
	[PLEASURE_CRAFT] [smallint] NULL,
	[FISHING] [smallint] NULL,
	[PORT_NAME] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
 CONSTRAINT [PK_STAT_PORTS_BATCH] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC,
	[TIMESTAMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG01DT]
) ON [FG01DT]

GO
