USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_POS_POINTS_BATCH](
	[SHIP_ID] [int] NOT NULL,
	[MMSI] [int] NULL,
	[TIMESTAMP] [smalldatetime] NULL,
	[POINT] [geography] NULL,
	[SAT_POINT] [geography] NULL,
	[SAT60_POINT] [geography] NULL,
	[SAT360_POINT] [geography] NULL,
	[SAT720_POINT] [geography] NULL,
	[SAT_TIMESTAMP] [smalldatetime] NULL,
	[LAT] [real] NULL,
	[LON] [real] NULL,
	[SAT_LAT] [real] NULL,
	[SAT_LON] [real] NULL,
 CONSTRAINT [PK_V_POS_POINTS_BATCH] PRIMARY KEY CLUSTERED 
(
	[SHIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG01DT]
) ON [FG01DT] TEXTIMAGE_ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [TIM] ON [dbo].[V_POS_POINTS_BATCH]
(
	[TIMESTAMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
CREATE SPATIAL INDEX [POINT] ON [dbo].[V_POS_POINTS_BATCH]
(
	[POINT]
)USING  GEOGRAPHY_AUTO_GRID 
WITH (
CELLS_PER_OBJECT = 12, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG01DT]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
CREATE SPATIAL INDEX [SAT720_POINT] ON [dbo].[V_POS_POINTS_BATCH]
(
	[SAT720_POINT]
)USING  GEOGRAPHY_AUTO_GRID 
WITH (
CELLS_PER_OBJECT = 12, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG01DT]
GO
