USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_STATION_DETAILS_BATCH_TEMP](
	[STATION_ID] [int] NOT NULL,
	[STATION_NAME] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[TIM] [smalldatetime] NULL,
	[STATUS] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[STATUS_COLOR] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[STATUS_ID] [int] NULL,
	[LAST_TIME] [smalldatetime] NULL,
	[LAT_PUB] [real] NULL,
	[LON_PUB] [real] NULL,
	[ALTITUDE] [int] NULL,
	[EQUIPMENT] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[EMAIL] [varchar](256) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[OPERATOR] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[OPERATION] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MAX_DIST] [real] NULL,
	[AVG_DIST] [real] NULL,
	[AREA] [int] NULL,
	[POS_COUNT] [int] NULL,
	[SHIP_COUNT] [int] NULL,
	[COUNTRY] [varchar](2) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[TOTAL_HOURS] [int] NULL,
	[UP_HOURS] [int] NULL,
	[AVAILABILITY] [float] NULL,
	[FREE_USER_PLAN] [int] NOT NULL,
	[FREE_USER_PLAN_OVERRIDE] [tinyint] NULL,
	[MT] [tinyint] NULL,
	[user_id] [int] NULL,
	[LAST_SIGNAL] [smalldatetime] NULL,
	[LAST_CONNECTED] [smalldatetime] NULL,
	[RANKING_ID] [tinyint] NULL,
	[RANKING_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[POS_A_COUNT] [real] NULL,
	[STATIC_A_COUNT] [real] NULL,
	[BASE_STATION_COUNT] [real] NULL,
	[BIN_COUNT] [real] NULL,
	[SAR_COUNT] [real] NULL,
	[SAFETY_COUNT] [real] NULL,
	[POS_B_COUNT] [real] NULL,
	[EXT_B_COUNT] [real] NULL,
	[STATIC_B_COUNT] [real] NULL,
	[ATON_COUNT] [real] NULL,
	[OTHER_AIS_COUNT] [real] NULL,
	[OTHER_NON_AIS_COUNT] [real] NULL,
	[ERROR_COUNT] [real] NULL,
	[AIS_TOTAL_COUNT] [real] NULL,
	[PAUSE_ALERTS] [bit] NULL,
	[ALERT_INTERVAL_MINS] [smallint] NULL,
	[INLAND] [bit] NULL,
	[UPDATEGROUP] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[SERIAL_NUMBER] [int] NULL,
	[COMM_COMPLETED] [bit] NULL
) ON [FG01DT]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [clidx_VSTATIONDETAILSB_STATION_ID_1] ON [dbo].[V_STATION_DETAILS_BATCH_TEMP]
(
	[STATION_ID] ASC,
	[STATION_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [FG01DT]
GO
CREATE NONCLUSTERED INDEX [idx_VSTATIONDETAILSB_MAX_DIST_1] ON [dbo].[V_STATION_DETAILS_BATCH_TEMP]
(
	[MAX_DIST] ASC,
	[AVAILABILITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
