USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETA_BATCH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SHIP_ID] [int] NOT NULL,
	[PORT_ID] [int] NOT NULL,
	[PORT_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ARR_TIME] [smalldatetime] NULL,
	[MMSI] [int] NULL,
	[SHIPNAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CENTERX] [real] NULL,
	[CENTERY] [real] NULL,
	[ZOOM] [int] NULL,
	[TIMEZONE] [real] NULL,
	[DST] [tinyint] NULL,
	[ENABLE_ETA] [bit] NULL,
	[ETA] [smalldatetime] NULL,
	[ETA_UPDATED] [smalldatetime] NULL,
	[ARRIVED] [smalldatetime] NULL,
	[LON] [real] NULL,
	[LAT] [real] NULL,
	[MAP] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[SPEED] [smallint] NULL,
	[TIMESTAMP] [smalldatetime] NULL,
	[SOURCE] [varchar](3) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[DISTANCE] [smallint] NULL,
	[ROUTE] [geography] NULL,
	[ETA_METHOD] [varchar](3) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[TYPE_COLOR] [tinyint] NULL,
	[FROM_PORT_ID] [int] NULL,
	[FROM_PORT_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
 CONSTRAINT [PK_ETA_BATCH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [ETA] ON [dbo].[ETA_BATCH]
(
	[ETA] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [MMSI] ON [dbo].[ETA_BATCH]
(
	[MMSI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [PORT] ON [dbo].[ETA_BATCH]
(
	[PORT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PORT_ID] ON [dbo].[ETA_BATCH]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [SHIP] ON [dbo].[ETA_BATCH]
(
	[SHIPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
