USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMO_HISTORY_BATCH](
	[MMSI] [int] NULL,
	[IMO] [int] NULL,
	[CALLSIGN] [varchar](7) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[SHIPNAME] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[SHIPTYPE] [tinyint] NULL,
	[TIMESTAMP] [datetime] NULL,
	[LENGTH] [smallint] NULL,
	[WIDTH] [tinyint] NULL,
	[CODE2] [varchar](2) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[COUNTRY] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL
) ON [PRIMARY]

GO
CREATE CLUSTERED INDEX [IMO] ON [dbo].[IMO_HISTORY_BATCH]
(
	[IMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
