USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTUSED_V_POS_ALL_TEMP](
	[SHIP_ID] [int] NOT NULL,
	[MMSI] [int] NULL,
	[STATUS] [tinyint] NULL,
	[SPEED] [float] NULL,
	[LON] [real] NULL,
	[LAT] [real] NULL,
	[COURSE] [smallint] NULL,
	[HEADING] [smallint] NULL,
	[TIMESTAMP] [smalldatetime] NULL,
	[SHIPNAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[LENGTH] [smallint] NULL,
	[WIDTH] [tinyint] NULL,
	[DESTINATION] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IMO] [int] NULL,
	[CALLSIGN] [varchar](7) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ETA] [smalldatetime] NULL,
	[DRAUGHT] [tinyint] NULL,
	[COUNT_PHOTOS] [int] NULL,
	[SHIPTYPE] [tinyint] NULL,
	[TYPE_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[TYPE_COLOR] [int] NULL,
	[PORT_NAME] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CENTERX] [real] NULL,
	[CENTERY] [real] NULL,
	[ZOOM] [tinyint] NULL,
	[STATUS_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[TYPE_SUMMARY] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[PORT_ID] [smallint] NULL,
	[STATION] [smallint] NULL,
	[CODE2] [varchar](2) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[COUNTRY] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ICON] [varchar](86) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[SHIPTIME] [smalldatetime] NULL,
	[AREA_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[OPERATOR] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[STATION_VIA] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ALTITUDE] [smallint] NULL,
 CONSTRAINT [PK_V_POS_ALL_TEMP] PRIMARY KEY CLUSTERED 
(
	[SHIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [LON_LAT] ON [dbo].[NOTUSED_V_POS_ALL_TEMP]
(
	[LON] ASC,
	[LAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [MMSI] ON [dbo].[NOTUSED_V_POS_ALL_TEMP]
(
	[MMSI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [STATION] ON [dbo].[NOTUSED_V_POS_ALL_TEMP]
(
	[STATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [TIME] ON [dbo].[NOTUSED_V_POS_ALL_TEMP]
(
	[TIMESTAMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
