USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW dbo.DUPLICATE_MMSI
AS
SELECT        TOP (100) PERCENT SHIP_ID, MMSI, IMO, CALLSIGN, SHIPNAME, SHIPTYPE, LENGTH, WIDTH, ETA, DRAUGHT, DESTINATION, TIMESTAMP, CONFIRMED, 
                         FLAG_CODE, TIMES_RCVD
FROM            dbo.LAST_SEEN_SHIP AS a
WHERE        ((SELECT        COUNT(*) AS Expr1
                            FROM            dbo.LAST_SEEN_SHIP
                            WHERE        (MMSI = a.MMSI)) > 1)
ORDER BY MMSI, TIMESTAMP DESC


GO
