USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LAST_SHIP]
AS
SELECT        MMSI, IMO, CALLSIGN, SHIPNAME, SHIPTYPE, ETA, DRAUGHT, DESTINATION, TIMESTAMP, LENGTH, WIDTH, FLAG_CODE, SHIP_ID, SAT_ETA, 
                         SAT_DESTINATION, SAT_SHIPTIME, L_FORE, W_LEFT, DESTINATION_ID
FROM            dbo.LAST_SEEN_SHIP AS SHIP WITH (NOLOCK)
WHERE        (CONFIRMED = 1)


GO
