USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW dbo.LAST_POS_SAT
AS
SELECT        TOP (100) PERCENT MMSI, LON, LAT, AREA_ID, AREA_NAME, PORT_ID, PORT_NAME, TIMESTAMP, CONFIRMED, SPEED, COURSE, STATUS, 
                         COALESCE (CASE WHEN SAT720_TIMESTAMP > TIMESTAMP AND TIMESTAMP < DATEADD(MINUTE, - 180, GETUTCDATE()) THEN - 2 ELSE NULL END, 
                         CASE WHEN SAT360_TIMESTAMP > TIMESTAMP AND TIMESTAMP < DATEADD(MINUTE, - 180, GETUTCDATE()) THEN - 1 ELSE NULL END, 
                         CASE WHEN SAT_TIMESTAMP > DATEADD(MINUTE, 30, TIMESTAMP) THEN 1000 ELSE NULL END, STATION) AS STATION, HEADING, IS_COASTAL, 
                         SAT60_TIMESTAMP, SAT60_LAT, SAT60_LON, SAT60_SPEED, SAT60_COURSE, SAT360_TIMESTAMP, SAT360_LAT, SAT360_LON, SAT360_SPEED, 
                         SAT360_COURSE, SAT720_TIMESTAMP, SAT720_LAT, SAT720_LON, SAT720_SPEED, SAT720_COURSE
FROM            dbo.LAST_SEEN_SHIP
WHERE        (CONFIRMED = 1) AND (TIMESTAMP > DATEADD(MINUTE, - 60, GETUTCDATE())) OR
                         (CONFIRMED = 1) AND (TIMESTAMP > DATEADD(MINUTE, - 180, GETUTCDATE())) AND (SPEED < 5) OR
                         (CONFIRMED = 1) AND (TIMESTAMP > DATEADD(MINUTE, - 360, GETUTCDATE())) AND (IS_COASTAL = 0) OR
                         (CONFIRMED = 1) AND (TIMESTAMP > DATEADD(MINUTE, - 360, GETUTCDATE())) AND (STATION = 888)


GO
