USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW dbo.STAT_AIS_TYPE
AS
SELECT        (CASE WHEN STATUS = 99 THEN 'Class B' WHEN STATUS = 98 THEN 'AtoN' WHEN STATUS = 97 THEN 'SAR Aircraft' ELSE ' Class A' END) AS AIS_TYPE, 
                         COUNT(*) AS COUNTER
FROM            dbo.V_POS_BATCH
GROUP BY (CASE WHEN STATUS = 99 THEN 'Class B' WHEN STATUS = 98 THEN 'AtoN' WHEN STATUS = 97 THEN 'SAR Aircraft' ELSE ' Class A' END)


GO
