USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[STAT_AIS_TYPE_ALL]
AS
SELECT     (CASE WHEN DESTINATION = 'CLASS B' THEN 'Class B' WHEN SHIPTYPE >= 100 AND 
                      SHIPTYPE <= 131 THEN 'AtoN' WHEN SHIPTYPE = 29 THEN 'SAR Aircraft' ELSE ' Class A' END) AS AIS_TYPE, COUNT(*) AS COUNTER
FROM         dbo.V_SHIP_BATCH
WHERE     (SHIPTIME > GETUTCDATE() - 365)
GROUP BY (CASE WHEN DESTINATION = 'CLASS B' THEN 'Class B' WHEN SHIPTYPE >= 100 AND 
                      SHIPTYPE <= 131 THEN 'AtoN' WHEN SHIPTYPE = 29 THEN 'SAR Aircraft' ELSE ' Class A' END)



GO
