USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW dbo.V_MAP_SECTIONS
AS
SELECT     COUNT(*) AS SHIPCOUNT, FLOOR(LON / 5) * 5 AS X, FLOOR(LAT / 3) * 3 AS Y
FROM         dbo.V_POS_BATCH
WHERE     (LENGTH IS NOT NULL) AND (NOT (STATION IN (1000, - 1, - 2)))
GROUP BY FLOOR(LON / 5) * 5, FLOOR(LAT / 3) * 3


GO
