USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_POS_TERRSAT_360] AS 
SELECT      
	SHIP_ID, MMSI, IMO, STATUS, SHIPNAME, SHIPTYPE, TYPE_GROUPED_ID, GT_SHIPTYPE, DWT, FLAG, LENGTH, WIDTH, DRAUGHT, L_FORE, W_LEFT, CALLSIGN
	LAT, LON, SPEED, COURSE, HEADING, TIMESTAMP, ELAPSED, 
	AREA_ID, STATION, DESTINATION, ETA, PORT_ID
FROM V_POS_BATCH
UNION ALL
SELECT      
	SHIP_ID, MMSI, IMO, SAT_STATUS, SHIPNAME, SHIPTYPE, TYPE_GROUPED_ID, GT_SHIPTYPE, DWT, FLAG, LENGTH, WIDTH, DRAUGHT, L_FORE, W_LEFT, CALLSIGN
	SAT360_LAT, SAT360_LON, SAT360_SPEED, SAT360_COURSE, SAT360_COURSE, SAT360_TIMESTAMP, DATEDIFF(MINUTE, GETUTCDATE(), SAT360_TIMESTAMP),
	SAT_AREA_ID, 1000, DESTINATION, ETA, SAT_PORT_ID
FROM V_POS_SAT_BATCH

GO
