USE [DBA_t01_00]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW V_POS_BATCH_VW
AS
SELECT SHIP_ID ,
	MMSI ,
	STATUS ,
	SPEED ,
	LON ,
	LAT ,
	COURSE ,
	HEADING ,
	TIMESTAMP ,
	SHIPNAME ,
	SHIPTYPE ,
	LENGTH ,
	WIDTH ,
	DESTINATION ,
	FLAG ,
	TYPE_COLOR ,
	AREA_ID ,
	ELAPSED ,
	STATION ,
	IS_COASTAL ,
	SAT_TIMESTAMP ,
	SAT_LAT ,
	SAT_LON ,
	SAT_SPEED ,
	SAT_COURSE ,
	SAT_HEADING ,
	SAT60_TIMESTAMP ,
	SAT60_LAT ,
	SAT60_LON ,
	SAT60_SPEED ,
	SAT60_COURSE ,
	SAT360_TIMESTAMP ,
	SAT360_LAT ,
	SAT360_LON ,
	SAT360_SPEED ,
	SAT360_COURSE ,
	SAT720_TIMESTAMP ,
	SAT720_LAT ,
	SAT720_LON ,
	SAT720_SPEED ,
	SAT720_COURSE ,
	L_FORE ,
	W_LEFT ,
	IMO ,
	CALLSIGN ,
	ETA ,
	DRAUGHT ,
	SHIPTYPE_FULL ,
	PORT_ID ,
	AREA_ID_ALL ,
	PORT_NAME ,
	AREA_NAME ,
	COUNT_PHOTOS ,
	SHIPTIME ,
	ROT ,
	GT_SHIPTYPE ,
	TYPE_GROUPED_ID ,
	DWT ,
	AIS_SECONDS ,
	TERRSAT_TIMESTAMP ,
	TERRSAT_LAT ,
	TERRSAT_LON ,
	SAT_TIME_RECEIVED ,
	TERRSAT_SPEED ,
	PORT_TYPE ,
	TERRSAT_COURSE 
FROM  dbo.V_POS_BATCH WITH(NOLOCK)
;

GO
