USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[eta_batch_sp]
AS
BEGIN
	SET NOCOUNT ON;
	SET DEADLOCK_PRIORITY HIGH;
	SET QUERY_GOVERNOR_COST_LIMIT 0

--copy port_moves - function eta must use PORT_MOVES_COPY
/*delete from port_moves_copy where timestamp<dateadd(day,-30, getutcdate())
declare @lastinserted as datetime
select @lastinserted=max(timestamp) from PORT_MOVES_COPY WITH(NOLOCK) 
delete from port_moves_copy where timestamp=@lastinserted --avoid losing last minute 
INSERT INTO PORT_MOVES_COPY (MMSI,PORT_ID,TIMESTAMP,MOVE_TYPE) 
	(SELECT MMSI,PORT_ID,TIMESTAMP,MOVE_TYPE from PORT_MOVES WITH(NOLOCK) where [TIMESTAMP]>=@lastinserted
	OR (@lastinserted is null and [TIMESTAMP]>getutcdate()-20))
*/

--keep SCHEDULED SHIPS in a separate table to avoid deadlocks - V_ETA must use V_SCHEDULED_BATCH
--NOT used any more
--TRUNCATE TABLE V_SCHEDULED_BATCH
--INSERT INTO V_SCHEDULED_BATCH (PORT_ID, PORT_NAME, ARR_TIME, MMSI, SHIPNAME, CENTERX, CENTERY, ZOOM, TIMEZONE, DST, SOURCE)
--(SELECT PORT_ID, PORT_NAME, ARR_TIME, MMSI, SHIPNAME, CENTERX, CENTERY, ZOOM, TIMEZONE, DST, SOURCE FROM V_SCHEDULED WITH(NOLOCK))

--Disable Indexes
--ALTER INDEX PORT ON ETA_BATCH_TEMP DISABLE
--ALTER INDEX PORT_ID ON ETA_BATCH_TEMP DISABLE
--ALTER INDEX SHIP ON ETA_BATCH_TEMP DISABLE
--ALTER INDEX MMSI ON ETA_BATCH_TEMP DISABLE

--insert results in a temp table, to avoid delays and deadlocks in ETA_BATCH table
-- Use Merge instead
--TRUNCATE TABLE ETA_BATCH_TEMP
--INSERT INTO ETA_BATCH_TEMP (PORT_ID,PORT_NAME,ARR_TIME,MMSI,SHIPNAME,ETA,ARRIVED,LON,LAT,MAP,CENTERX,CENTERY,ZOOM,[TIMESTAMP])
--(SELECT PORT_ID,PORT_NAME,ARR_TIME,MMSI,SHIPNAME,ETA,ARRIVED,LON,LAT,MAP,CENTERX,CENTERY,ZOOM,[TIMESTAMP] FROM V_ETA WITH(NOLOCK))  
--OPTION (MAXDOP 1)

MERGE ETA_BATCH A
USING MT1.ais.dbo.V_ETA B WITH(NOLOCK)
ON A.SHIP_ID = B.SHIP_ID AND A.PORT_ID=B.PORT_ID AND A.ARR_TIME=B.ARR_TIME
WHEN MATCHED AND ((A.ARRIVED IS NULL AND B.ARRIVED IS NOT NULL) OR A.ARRIVED<>B.ARRIVED) THEN
  UPDATE
  SET  A.ARRIVED=B.ARRIVED, A.TIMESTAMP=B.TIMESTAMP 
  WHEN NOT MATCHED BY TARGET THEN
  INSERT (SHIP_ID, PORT_ID, PORT_NAME, ARR_TIME, MMSI, SHIPNAME, CENTERX, CENTERY, ZOOM, TIMEZONE, DST, ENABLE_ETA,   
                         ARRIVED, MAP, TIMESTAMP, SOURCE, TYPE_COLOR, FROM_PORT_ID, FROM_PORT_NAME)
  VALUES (B.SHIP_ID, B.PORT_ID, B.PORT_NAME, B.ARR_TIME, B.MMSI, B.SHIPNAME, B.CENTERX, B.CENTERY, B.ZOOM, B.TIMEZONE, B.DST, B.ENABLE_ETA, 
                         B.ARRIVED, B.MAP, B.TIMESTAMP, B.SOURCE, B.TYPE_COLOR, B.FROM_PORT_ID, B.FROM_PORT_NAME)
WHEN NOT MATCHED BY SOURCE THEN
  DELETE;

--Update ETA
/*UPDATE ETA_BATCH SET ETA_UPDATED=GETUTCDATE(), ETA_METHOD='FOR',
ETA=dbo.eta(MMSI, PORT_ID, ARR_TIME, CASE WHEN EXISTS(SELECT 1 FROM ETA_BATCH B WITH(NOLOCK) WHERE B.MMSI=ETA_BATCH.MMSI AND B.ARR_TIME>ETA_BATCH.ARR_TIME) THEN 1 ELSE 0 END)
WHERE ARR_TIME < DATEADD(HOUR, 8, GETUTCDATE()) AND (ETA_UPDATED IS NULL OR ETA_UPDATED<DATEADD(MINUTE,-5,GETUTCDATE()))
AND ARRIVED IS NULL AND [SOURCE]='FOR'*/

--Update ETA using eta_extended function to include distance and route
UPDATE A
SET A.ETA_UPDATED=GETUTCDATE(), A.ETA_METHOD='FOR',
A.ETA=B.ETA, A.DISTANCE=round(B.ROUTE.STLength()/1852, 0) , A.ROUTE=B.ROUTE
FROM ETA_BATCH AS A WITH(NOLOCK) CROSS APPLY
dbo.eta_extended(MMSI, PORT_ID, ARR_TIME, CASE WHEN EXISTS(SELECT 1 FROM ETA_BATCH C WITH(NOLOCK) WHERE C.MMSI=A.MMSI AND C.ARR_TIME>A.ARR_TIME) THEN 1 ELSE 0 END) as B
WHERE ARR_TIME < DATEADD(HOUR, 8, GETUTCDATE()) AND (ETA_UPDATED IS NULL OR ETA_UPDATED<DATEADD(MINUTE,-5,GETUTCDATE()))
AND ARRIVED IS NULL AND [SOURCE]='FOR'

--clean
UPDATE ETA_BATCH SET ETA_UPDATED=NULL, ETA=NULL, DISTANCE=NULL, ROUTE=NULL, ETA_METHOD=NULL
WHERE [SOURCE]='FOR' AND ETA IS NOT NULL AND (ARRIVED IS NOT NULL OR ETA_UPDATED<DATEADD(MINUTE,-60,GETUTCDATE()))

UPDATE ETA_BATCH SET ETA_UPDATED=NULL, ETA=NULL, DISTANCE=NULL, ROUTE=NULL, ETA_METHOD=NULL
WHERE [SOURCE]='AIS' AND ETA IS NOT NULL AND (ARRIVED IS NOT NULL OR ETA_UPDATED<DATEADD(MINUTE,-720,GETUTCDATE()))

--update destination_id and ETA for ships with scheduled forth routes
UPDATE d
SET d.ETA=c.ETA, d.DESTINATION_ID=c.PORT_ID
FROM LAST_SEEN_SHIP AS d WITH(NOLOCK)
INNER JOIN
(SELECT        TOP (200) A.SHIP_ID, A.PORT_ID, A.PORT_NAME, COALESCE (A.ETA, A.ARR_TIME) AS ETA, A.MMSI
FROM            ETA_BATCH AS A WITH(NOLOCK) INNER JOIN
                             (SELECT        SHIP_ID, MIN(ARR_TIME) AS ARR_TIME
                               FROM            ETA_BATCH WITH(NOLOCK)
                               WHERE        (SOURCE = 'FOR') AND (ARRIVED IS NULL)
                               GROUP BY SHIP_ID) AS B ON A.SHIP_ID = B.SHIP_ID AND A.ARR_TIME = B.ARR_TIME
WHERE        (A.ARRIVED IS NULL) AND (A.SOURCE = 'FOR')) c
ON d.SHIP_ID = c.SHIP_ID


--Enable Indexes
--ALTER INDEX PORT ON ETA_BATCH_TEMP REBUILD
--ALTER INDEX PORT_ID ON ETA_BATCH_TEMP REBUILD
--ALTER INDEX SHIP ON ETA_BATCH_TEMP REBUILD
--ALTER INDEX MMSI ON ETA_BATCH_TEMP REBUILD

/*BEGIN TRAN
exec sp_rename 'ETA_BATCH', 'ETA_BATCH1'
exec sp_rename 'ETA_BATCH_TEMP', 'ETA_BATCH'
exec sp_rename 'ETA_BATCH1', 'ETA_BATCH_TEMP'
COMMIT
*/

END























GO
