USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -- =============================================
* [17:26 26/3/2018] (CORE-6010) (CORE-5100): Remove temp-batch-rotation (along with PORTS_CURRENT_TEMP usage , when applicable)
*	. COMMENT code :  
*		--rename table replaced by swapping synonyms
*	. replace code-object:  PORTS_CURRENT_TEMP  with  PORTS_CURRENT_BATCH
*
* =============================================	*/
CREATE PROCEDURE [dbo].[ports_current_sp]
AS
BEGIN
	SET NOCOUNT ON;
	SET QUERY_GOVERNOR_COST_LIMIT 0


MERGE PORTS_CURRENT_BATCH A 
USING MT1.ais.dbo.PORTS_CURRENT B WITH(NOLOCK) 
ON A.PORT_ID=B.PORT_ID
WHEN MATCHED AND (A.SHIPCOUNT<>B.SHIPCOUNT OR A.EXPECTEDCOUNT<>B.EXPECTEDCOUNT OR A.COVERAGE<>B.COVERAGE OR A.CURRENT_OFFSET IS NULL OR A.CURRENT_OFFSET<>B.CURRENT_OFFSET) THEN
  UPDATE
  SET A.SHIPCOUNT=B.SHIPCOUNT, A.DEPARTCOUNT=B.DEPARTCOUNT, A.ARRIVECOUNT=B.ARRIVECOUNT, A.EXPECTEDCOUNT=B.EXPECTEDCOUNT, A.COUNT_PHOTOS=B.COUNT_PHOTOS, A.COVERAGE=B.COVERAGE,
  A.[CURRENT_TIME]=B.[CURRENT_TIME], A.CURRENT_OFFSET=B.CURRENT_OFFSET, A.PORT_SIZE=B.PORT_SIZE
WHEN NOT MATCHED BY TARGET THEN
  INSERT (SHIPCOUNT, PORT_ID, PORT_NAME, SW_X, SW_Y, NE_X, NE_Y, CENTERX, CENTERY, DEPARTCOUNT, ARRIVECOUNT, EXPECTEDCOUNT, ZOOM, 
                      COUNT_PHOTOS, COUNTRY_CODE, COUNTRY, ALTNAME1, ALTNAME2, ALTNAME3, ALTNAME4, PORT_TYPE, ENABLE_CALLS, COVERAGE, UNLOCODE,
					  [CURRENT_TIME], CURRENT_OFFSET, PORT_SIZE, AREA_ID, AREA_CODE, RELATED_ANCH_ID, RELATED_ANCH_NAME, RELATED_PORT_ID, RELATED_PORT_NAME)
  VALUES (B.SHIPCOUNT, B.PORT_ID, B.PORT_NAME, B.SW_X, B.SW_Y, B.NE_X, B.NE_Y, B.CENTERX, B.CENTERY, B.DEPARTCOUNT, B.ARRIVECOUNT, B.EXPECTEDCOUNT, B.ZOOM, 
                      B.COUNT_PHOTOS, B.COUNTRY_CODE, B.COUNTRY, B.ALTNAME1, B.ALTNAME2, B.ALTNAME3, B.ALTNAME4, B.PORT_TYPE, B.ENABLE_CALLS, B.COVERAGE, B.UNLOCODE,
					  B.[CURRENT_TIME], B.CURRENT_OFFSET, B.PORT_SIZE, AREA_ID, AREA_CODE, RELATED_ANCH_ID, RELATED_ANCH_NAME, RELATED_PORT_ID, RELATED_PORT_NAME)
WHEN NOT MATCHED BY SOURCE THEN
  DELETE;

PRINT '**** [ports_current_sp]: '+ @@SERVERNAME+ '.'+DB_NAME()+ '.'+USER_NAME()+' ['+CONVERT(VARCHAR(19), GETDATE(),126)+'] ENDoF: MERGE [PORTS_CURRENT_BATCH] , Rows Affected: '+convert(varchar(20), @@ROWCOUNT);  


--STAT_PORTS -- run only every 12 hours
if(datepart(hour,getutcdate())=6 OR datepart(hour,getutcdate())=21) AND datepart(MINUTE,getutcdate())>=0 AND datepart(MINUTE,getutcdate())<6
begin
	PRINT ' ** [ports_current_sp]: '+ @@SERVERNAME+ '.'+DB_NAME()+ '.'+USER_NAME()+' ['+CONVERT(VARCHAR(19), GETDATE(),126)+'] STARToF: [STAT_PORTS] -- run only every 12 hours';
	--Disable Indexes
	ALTER INDEX ALTNAMES ON PORTS_CURRENT_TEMP DISABLE
	ALTER INDEX NAME ON PORTS_CURRENT_TEMP DISABLE

	TRUNCATE TABLE PORTS_CURRENT_TEMP;
	INSERT INTO PORTS_CURRENT_TEMP WITH (TABLOCK) (SHIPCOUNT, PORT_ID, PORT_NAME, SW_X, SW_Y, NE_X, NE_Y, CENTERX, CENTERY, DEPARTCOUNT, ARRIVECOUNT, EXPECTEDCOUNT, ZOOM
		,COUNT_PHOTOS, COUNTRY_CODE, COUNTRY, ALTNAME1, ALTNAME2, ALTNAME3, ALTNAME4, PORT_TYPE, ENABLE_CALLS, COVERAGE, UNLOCODE
		,[CURRENT_TIME], CURRENT_OFFSET, PORT_SIZE, AREA_ID, AREA_CODE, RELATED_ANCH_ID, RELATED_ANCH_NAME, RELATED_PORT_ID, RELATED_PORT_NAME, AREA_NAME, AREA_CODE_NAME)
	(SELECT SHIPCOUNT, PORT_ID, PORT_NAME, SW_X, SW_Y, NE_X, NE_Y, CENTERX, CENTERY, DEPARTCOUNT, ARRIVECOUNT, EXPECTEDCOUNT, ZOOM
		,COUNT_PHOTOS, COUNTRY_CODE, COUNTRY, ALTNAME1, ALTNAME2, ALTNAME3, ALTNAME4, PORT_TYPE, ENABLE_CALLS, COVERAGE, UNLOCODE 
		,[CURRENT_TIME], CURRENT_OFFSET, PORT_SIZE, AREA_ID, AREA_CODE, RELATED_ANCH_ID, RELATED_ANCH_NAME, RELATED_PORT_ID, RELATED_PORT_NAME, AREA_NAME, AREA_CODE_NAME
		FROM MT1.ais.dbo.PORTS_CURRENT WITH(NOLOCK))		  
	;				  
	--Enable Indexes
	ALTER INDEX ALTNAMES ON PORTS_CURRENT_TEMP REBUILD
	ALTER INDEX NAME ON PORTS_CURRENT_TEMP REBUILD

	TRUNCATE TABLE STAT_PORTS_BATCH
	INSERT INTO STAT_PORTS_BATCH WITH (TABLOCK) (PORT_ID, TIMESTAMP, CARGO, TANKER, PASSENGER, OTHER, TUG, FISHING, [PLEASURE_CRAFT], PORT_NAME)
	(SELECT PORT_ID, TIMESTAMP, CARGO, TANKER, PASSENGER, OTHER, TUG, FISHING, [PLEASURE_CRAFT], PORT_NAME FROM MT1.ais.dbo.STAT_PORTS WITH(NOLOCK))
	
	--!!xxxx --BEGIN TRAN
	--!!xxxx exec sp_rename 'PORTS_CURRENT_BATCH', 'PORTS_CURRENT_TEMP1'
	--!!xxxx exec sp_rename 'PORTS_CURRENT_TEMP', 'PORTS_CURRENT_BATCH'
	--!!xxxx exec sp_rename 'PORTS_CURRENT_TEMP1', 'PORTS_CURRENT_TEMP'
	--!!xxxx --COMMIT
	
	PRINT ' '+ @@SERVERNAME+ '.'+DB_NAME()+ '.'+USER_NAME()+' ['+CONVERT(VARCHAR(19), GETDATE(),126)+'] STARToF : [PORTS_CURRENT_TEMP] ALTER SCHEMA TRANFER';
	BEGIN TRAN
		ALTER SCHEMA [shad] TRANSFER [dbo].[PORTS_CURRENT_TEMP];
		EXEC sys.sp_rename @objname = N'shad.PORTS_CURRENT_TEMP',
			@newname = PORTS_CURRENT_BATCH;
			
		ALTER SCHEMA [fk] TRANSFER [dbo].[PORTS_CURRENT_BATCH];
		ALTER SCHEMA [dbo] TRANSFER [shad].[PORTS_CURRENT_BATCH];
		
		EXEC sys.sp_rename @objname = N'fk.PORTS_CURRENT_BATCH',
			@newname = PORTS_CURRENT_TEMP;
		ALTER SCHEMA [dbo] TRANSFER [fk].[PORTS_CURRENT_TEMP];
	COMMIT;

end



--moved to v_arr_dep_batch_sp
--V_ARR_DEP
--TRUNCATE TABLE V_ARR_DEP_TEMP
--INSERT INTO V_ARR_DEP_TEMP (SHIPNAME, PORT_NAME, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, ARRIVAL, DEPARTURE, ARR_DEP_SORT)
--(SELECT SHIPNAME, PORT_NAME, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, ARRIVAL, DEPARTURE, COALESCE (ARRIVAL, DEPARTURE) FROM V_ARR_DEP_ALL)

--Refresh only last 3 hours
/*DELETE FROM V_ARR_DEP_TEMP WHERE ARR_DEP_SORT<GETUTCDATE()-10 OR ARR_DEP_SORT>DATEADD(HOUR, -3, GETUTCDATE())
INSERT INTO V_ARR_DEP_TEMP (SHIPNAME, PORT_NAME, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, ARRIVAL, DEPARTURE, ARR_DEP_SORT)
(SELECT SHIPNAME, PORT_NAME, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, ARRIVAL, DEPARTURE, COALESCE (ARRIVAL, DEPARTURE) 
FROM V_ARR_DEP_ALL WITH(NOLOCK)
WHERE COALESCE(ARRIVAL,DEPARTURE)>DATEADD(HOUR, -3, GETUTCDATE()))


exec sp_rename 'V_ARR_DEP_BATCH', 'V_ARR_DEP_TEMP1'
exec sp_rename 'V_ARR_DEP_TEMP', 'V_ARR_DEP_BATCH'
exec sp_rename 'V_ARR_DEP_TEMP1', 'V_ARR_DEP_TEMP'*/


END




GO
