USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sat_delayed_update]

AS
BEGIN

	SET NOCOUNT ON;
	SET QUERY_GOVERNOR_COST_LIMIT 0
/*
--UPDATE LAST_SEEN WITH 12-HOUR DELAYED DATA
UPDATE a
  SET 
  a.SAT720_TIMESTAMP = b.TIMESTAMP, a.SAT720_SPEED=b.SPEED, a.SAT720_COURSE=b.COURSE, a.SAT720_LAT=b.LAT, a.SAT720_LON=b.LON
  FROM LAST_SEEN_SHIP AS a WITH(NOLOCK)
  INNER JOIN ais_archive_2014B.dbo.POS_ARCHIVE AS b WITH(NOLOCK)
  ON a.MMSI = b.MMSI
  WHERE B.station=1000 and B.timestamp<=dateadd(hour,-12,getutcdate()) and B.timestamp>dateadd(hour,-13,getutcdate())

--UPDATE LAST_SEEN WITH 6-HOUR DELAYED DATA
UPDATE a
  SET 
  a.SAT360_TIMESTAMP = b.TIMESTAMP, a.SAT360_SPEED=b.SPEED, a.SAT360_COURSE=b.COURSE, a.SAT360_LAT=b.LAT, a.SAT360_LON=b.LON
  FROM LAST_SEEN_SHIP AS a WITH(NOLOCK)
  INNER JOIN ais_archive_2014B.dbo.POS_ARCHIVE AS b WITH(NOLOCK)
  ON a.MMSI = b.MMSI
  WHERE B.station=1000 and B.timestamp<=dateadd(hour,-6,getutcdate()) and B.timestamp>dateadd(hour,-7,getutcdate())

--UPDATE LAST_SEEN WITH 1-HOUR DELAYED DATA
UPDATE a
  SET 
  a.SAT60_TIMESTAMP = b.TIMESTAMP, a.SAT60_SPEED=b.SPEED, a.SAT60_COURSE=b.COURSE, a.SAT60_LAT=b.LAT, a.SAT60_LON=b.LON
  FROM LAST_SEEN_SHIP AS a WITH(NOLOCK)
  INNER JOIN ais_archive_2014B.dbo.POS_ARCHIVE AS b WITH(NOLOCK)
  ON a.MMSI = b.MMSI
  WHERE B.station=1000 and B.timestamp<=dateadd(hour,-1,getutcdate()) and B.timestamp>dateadd(hour,-2,getutcdate())

--Coastal SAT data - proximity of one degree to a port
UPDATE LAST_SEEN_SHIP
SET IS_COASTAL=CASE WHEN EXISTS 
(SELECT TOP(1) 1 FROM PORTS WITH(NOLOCK) WHERE SAT60_LAT<SW_Y+1 AND SAT60_LAT>SW_Y-1 AND SAT60_LON<SW_X+1 AND SAT60_LON>SW_X-1)
THEN 1 ELSE 0 END
WHERE SAT60_TIMESTAMP>DATEADD(MINUTE,-120,GETUTCDATE())
*/

--Update V_POS_SAT_BATCH
--Disable Indexes
ALTER INDEX SAT360_LON_LAT ON V_POS_SAT_TEMP DISABLE
ALTER INDEX MMSI ON V_POS_SAT_TEMP DISABLE
ALTER INDEX SAT720_LON_LAT ON V_POS_SAT_TEMP DISABLE

--MERGE IS FASTER THAN TRUNCATE AND INSERT ALL
MERGE V_POS_SAT_TEMP A
USING MT1.ais.dbo.V_POS_SAT B WITH(NOLOCK)
ON A.SHIP_ID=B.SHIP_ID
WHEN MATCHED AND (A.SAT_TIMESTAMP<>B.SAT_TIMESTAMP OR A.SAT360_TIMESTAMP<>B.SAT360_TIMESTAMP OR A.SAT720_TIMESTAMP<>B.SAT720_TIMESTAMP) THEN
  UPDATE
  SET A.SHIPNAME=B.SHIPNAME,A.SHIPTYPE=B.SHIPTYPE,A.LENGTH=B.LENGTH,A.WIDTH=B.WIDTH,A.DESTINATION=B.DESTINATION,A.FLAG=B.FLAG,A.TYPE_COLOR=B.TYPE_COLOR,A.STATION=B.STATION, A.SAT_LAT=B.SAT_LAT, A.SAT_LON=B.SAT_LON,
  a.SAT_TIMESTAMP=B.SAT_TIMESTAMP, A.SAT_SPEED=B.SAT_SPEED, A.SAT_COURSE=B.SAT_COURSE, A.IS_COASTAL=B.IS_COASTAL, A.SAT_HEADING=B.SAT_HEADING, A.SAT_STATUS=B.SAT_STATUS, A.SAT_ROT=B.SAT_ROT,
  a.SAT60_TIMESTAMP = b.SAT60_TIMESTAMP, a.SAT60_SPEED=b.SAT60_SPEED, a.SAT60_COURSE=b.SAT60_COURSE, a.SAT60_LAT=b.SAT60_LAT, a.SAT60_LON=b.SAT60_LON,
  a.SAT360_TIMESTAMP = b.SAT360_TIMESTAMP, a.SAT360_SPEED=b.SAT360_SPEED, a.SAT360_COURSE=b.SAT360_COURSE, a.SAT360_LAT=b.SAT360_LAT, a.SAT360_LON=b.SAT360_LON,
  a.SAT720_TIMESTAMP = b.SAT720_TIMESTAMP, a.SAT720_SPEED=b.SAT720_SPEED, a.SAT720_COURSE=b.SAT720_COURSE, a.SAT720_LAT=b.SAT720_LAT, a.SAT720_LON=b.SAT720_LON,
  A.L_FORE=B.L_FORE, A.W_LEFT=B.W_LEFT, A.IMO=B.IMO, A.CALLSIGN=B.CALLSIGN, A.SHIPTYPE_FULL=B.SHIPTYPE_FULL, A.ETA=B.ETA, A.DRAUGHT=B.DRAUGHT,  
  A.SAT_PORT_ID=B.SAT_PORT_ID, A.SAT_PORT_NAME=B.SAT_PORT_NAME, A.SAT_AREA_ID=B.SAT_AREA_ID, A.SAT_AREA_NAME=B.SAT_AREA_NAME, A.COUNT_PHOTOS=B.COUNT_PHOTOS, A.GT_SHIPTYPE=B.GT_SHIPTYPE, A.TYPE_GROUPED_ID=B.TYPE_GROUPED_ID , A.DWT=B.DWT
WHEN NOT MATCHED BY TARGET THEN
  INSERT (SHIP_ID, MMSI, SHIPNAME, SHIPTYPE, LENGTH, WIDTH, DESTINATION, FLAG, TYPE_COLOR, STATION, SAT_TIMESTAMP, SAT_LAT, SAT_LON, 
                         SAT_SPEED, SAT_COURSE, IS_COASTAL, SAT_HEADING, SAT_STATUS, SAT_ROT,
						 SAT60_TIMESTAMP, SAT60_LAT, SAT60_LON, SAT60_SPEED, SAT60_COURSE, SAT360_TIMESTAMP, SAT360_LAT,
                          SAT360_LON, SAT360_SPEED, SAT360_COURSE, SAT720_TIMESTAMP, SAT720_LAT, SAT720_LON, SAT720_SPEED, SAT720_COURSE, L_FORE, W_LEFT, 
                         IMO, CALLSIGN, SHIPTYPE_FULL, ETA, DRAUGHT, SAT_PORT_ID, SAT_PORT_NAME, SAT_AREA_ID, SAT_AREA_NAME, COUNT_PHOTOS, GT_SHIPTYPE, TYPE_GROUPED_ID, DWT)
  VALUES (B.SHIP_ID, B.MMSI, B.SHIPNAME, B.SHIPTYPE, B.LENGTH, B.WIDTH, B.DESTINATION, B.FLAG, B.TYPE_COLOR, B.STATION, B.SAT_TIMESTAMP, B.SAT_LAT, B.SAT_LON, 
                         B.SAT_SPEED, B.SAT_COURSE, B.IS_COASTAL, B.SAT_HEADING, B.SAT_STATUS, B.SAT_ROT,
						 B.SAT60_TIMESTAMP, B.SAT60_LAT, B.SAT60_LON, B.SAT60_SPEED, B.SAT60_COURSE, B.SAT360_TIMESTAMP, B.SAT360_LAT,
                          B.SAT360_LON, B.SAT360_SPEED, B.SAT360_COURSE, B.SAT720_TIMESTAMP, B.SAT720_LAT, B.SAT720_LON, B.SAT720_SPEED, B.SAT720_COURSE, B.L_FORE, B.W_LEFT, 
                         B.IMO, B.CALLSIGN, B.SHIPTYPE_FULL, B.ETA, B.DRAUGHT, B.SAT_PORT_ID, B.SAT_PORT_NAME, B.SAT_AREA_ID, B.SAT_AREA_NAME, B.COUNT_PHOTOS, B.GT_SHIPTYPE, B.TYPE_GROUPED_ID, B.DWT)
WHEN NOT MATCHED BY SOURCE THEN
  DELETE;

--Enable Indexes
ALTER INDEX SAT360_LON_LAT ON V_POS_SAT_TEMP REBUILD
ALTER INDEX MMSI ON V_POS_SAT_TEMP REBUILD
ALTER INDEX SAT720_LON_LAT ON V_POS_SAT_TEMP REBUILD

BEGIN TRAN
exec sp_rename 'V_POS_SAT_BATCH', 'V_POS_SAT_TEMP1'
exec sp_rename 'V_POS_SAT_TEMP', 'V_POS_SAT_BATCH'
exec sp_rename 'V_POS_SAT_TEMP1', 'V_POS_SAT_TEMP'
COMMIT


/*
--RUN EVERY 30 MINUTES!!!
--Circulate all values to the next 30 min interval --REMOVED -- Reading from Archive now

declare @sql as varchar(max)
declare @step as smallint

--build the long sql query
set @sql='UPDATE POS_SAT_DELAYED SET '
set @step=720

while @step>=30
begin
	set @sql=@sql+'SAT' + convert(varchar, @step) + '_TIMESTAMP=CASE WHEN SAT' + convert(varchar, @step-30) + '_TIMESTAMP<=DATEADD(MINUTE,-' + convert(varchar, @step) + ',GETUTCDATE()) THEN SAT' + convert(varchar, @step-30) + '_TIMESTAMP ELSE SAT' + convert(varchar, @step) + '_TIMESTAMP END, '
	set @sql=@sql+'SAT' + convert(varchar, @step) + '_SPEED=CASE WHEN SAT' + convert(varchar, @step-30) + '_TIMESTAMP<=DATEADD(MINUTE,-' + convert(varchar, @step) + ',GETUTCDATE()) THEN SAT' + convert(varchar, @step-30) + '_SPEED ELSE SAT' + convert(varchar, @step) + '_SPEED END, '
	set @sql=@sql+'SAT' + convert(varchar, @step) + '_COURSE=CASE WHEN SAT' + convert(varchar, @step-30) + '_TIMESTAMP<=DATEADD(MINUTE,-' + convert(varchar, @step) + ',GETUTCDATE()) THEN SAT' + convert(varchar, @step-30) + '_COURSE ELSE SAT' + convert(varchar, @step) + '_COURSE END, '
	set @sql=@sql+'SAT' + convert(varchar, @step) + '_LAT=CASE WHEN SAT' + convert(varchar, @step-30) + '_TIMESTAMP<=DATEADD(MINUTE,-' + convert(varchar, @step) + ',GETUTCDATE()) THEN SAT' + convert(varchar, @step-30) + '_LAT ELSE SAT' + convert(varchar, @step) + '_LAT END, '
	set @sql=@sql+'SAT' + convert(varchar, @step) + '_LON=CASE WHEN SAT' + convert(varchar, @step-30) + '_TIMESTAMP<=DATEADD(MINUTE,-' + convert(varchar, @step) + ',GETUTCDATE()) THEN SAT' + convert(varchar, @step-30) + '_LON ELSE SAT' + convert(varchar, @step) + '_LON END'
	if @step>30 set @sql=@sql+', '
	set @step=@step-30
end

--print (@sql)
execute (@sql)


--update existing records with SAT data
UPDATE a
  SET a.SAT0_TIMESTAMP = b.SAT_TIMESTAMP, a.SAT0_SPEED=b.SAT_SPEED, a.SAT0_COURSE=b.SAT_COURSE, a.SAT0_LAT=b.SAT_LAT, a.SAT0_LON=b.SAT_LON
  FROM POS_SAT_DELAYED AS a
  INNER JOIN LAST_SEEN AS b
  ON a.MMSI = b.MMSI
  WHERE B.SAT_TIMESTAMP>DATEADD(MINUTE,-120,GETUTCDATE())

UPDATE a
  SET a.SAT30_TIMESTAMP = b.SAT_TIMESTAMP, a.SAT30_SPEED=b.SAT_SPEED, a.SAT30_COURSE=b.SAT_COURSE, a.SAT30_LAT=b.SAT_LAT, a.SAT30_LON=b.SAT_LON
  FROM POS_SAT_DELAYED AS a
  INNER JOIN LAST_SEEN AS b
  ON a.MMSI = b.MMSI
  WHERE B.SAT_TIMESTAMP>DATEADD(MINUTE,-120,GETUTCDATE()) AND B.SAT_TIMESTAMP<=DATEADD(MINUTE,-30,GETUTCDATE())

UPDATE a
  SET a.SAT60_TIMESTAMP = b.SAT_TIMESTAMP, a.SAT60_SPEED=b.SAT_SPEED, a.SAT60_COURSE=b.SAT_COURSE, a.SAT60_LAT=b.SAT_LAT, a.SAT60_LON=b.SAT_LON
  FROM POS_SAT_DELAYED AS a
  INNER JOIN LAST_SEEN AS b
  ON a.MMSI = b.MMSI
  WHERE B.SAT_TIMESTAMP>DATEADD(MINUTE,-120,GETUTCDATE()) AND B.SAT_TIMESTAMP<=DATEADD(MINUTE,-60,GETUTCDATE())


--insert new SAT records
INSERT INTO POS_SAT_DELAYED (MMSI, SAT0_TIMESTAMP, SAT0_SPEED, SAT0_COURSE, SAT0_LAT, SAT0_LON)
(SELECT MMSI, SAT_TIMESTAMP, SAT_SPEED, SAT_COURSE, SAT_LAT, SAT_LON FROM LAST_SEEN
WHERE SAT_TIMESTAMP>DATEADD(MINUTE,-60,GETUTCDATE())
AND NOT EXISTS (SELECT 1 FROM POS_SAT_DELAYED WHERE MMSI=LAST_SEEN.MMSI))

--Coastal SAT data - proximity of one degree to a port
UPDATE POS_SAT_DELAYED
SET IS_COASTAL=CASE WHEN EXISTS 
(SELECT TOP(1) 1 FROM PORTS WHERE SAT60_LAT<SW_Y+1 AND SAT60_LAT>SW_Y-1 AND SAT60_LON<SW_X+1 AND SAT60_LON>SW_X-1)
THEN 1 ELSE 0 END
WHERE SAT60_TIMESTAMP>DATEADD(MINUTE,-120,GETUTCDATE())

--UPDATE LAST_SEEN
UPDATE a
  SET a.SAT60_TIMESTAMP = b.SAT60_TIMESTAMP, a.SAT60_SPEED=b.SAT60_SPEED, a.SAT60_COURSE=b.SAT60_COURSE, a.SAT60_LAT=b.SAT60_LAT, a.SAT60_LON=b.SAT60_LON,
  a.SAT360_TIMESTAMP = b.SAT360_TIMESTAMP, a.SAT360_SPEED=b.SAT360_SPEED, a.SAT360_COURSE=b.SAT360_COURSE, a.SAT360_LAT=b.SAT360_LAT, a.SAT360_LON=b.SAT360_LON,
  a.SAT720_TIMESTAMP = b.SAT720_TIMESTAMP, a.SAT720_SPEED=b.SAT720_SPEED, a.SAT720_COURSE=b.SAT720_COURSE, a.SAT720_LAT=b.SAT720_LAT, a.SAT720_LON=b.SAT720_LON,
  a.IS_COASTAL=b.IS_COASTAL
  FROM LAST_SEEN AS a
  INNER JOIN POS_SAT_DELAYED AS b
  ON a.MMSI = b.MMSI
  WHERE B.SAT0_TIMESTAMP>DATEADD(HOUR,-13,GETUTCDATE())

  */

END



GO
