USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CREATE 
CREATE PROCEDURE [dbo].[v_arr_dep_batch_sp]
AS
/* -- =============================================
* [17:26 26/3/2018] (CORE-6010) (CORE-5100): Remove temp-batch-rotation (along with V_ARR_DEP_TEMP usage , when applicable)
*	. COMMENT code :  
*		--rename table replaced by swapping synonyms
*	. replace code-object:  V_ARR_DEP_TEMP  with  V_ARR_DEP_BATCH
*
* =============================================	*/
BEGIN
	SET NOCOUNT ON;

	SET QUERY_GOVERNOR_COST_LIMIT 0

--V_ARR_DEP
--TRUNCATE TABLE V_ARR_DEP_TEMP
--INSERT INTO V_ARR_DEP_TEMP (SHIPNAME, PORT_NAME, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, ARRIVAL, DEPARTURE, ARR_DEP_SORT)
--(SELECT SHIPNAME, PORT_NAME, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, ARRIVAL, DEPARTURE, COALESCE (ARRIVAL, DEPARTURE) FROM V_ARR_DEP_ALL)

	--Refresh only last 6 hours
	DELETE FROM V_ARR_DEP_BATCH WHERE ARR_DEP_SORT<GETUTCDATE()-60 OR ARR_DEP_SORT>DATEADD(HOUR, -6, GETUTCDATE())
	INSERT INTO V_ARR_DEP_BATCH /*xWITH (TABLOCK)x*/ (SHIP_ID, SHIPNAME, PORT_NAME, COUNTRY_CODE, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, TIMEZONE, ARRIVAL, DEPARTURE, ARR_DEP_SORT, ARRIVAL_UTC, DEPARTURE_UTC, INTRANSIT, TYPE_COLOR)
	(SELECT SHIP_ID, SHIPNAME, PORT_NAME, COUNTRY_CODE, CENTERX, CENTERY, ZOOM, MMSI, PORT_ID, TIMEZONE, ARRIVAL, DEPARTURE, ARR_DEP_SORT, ARRIVAL_UTC, DEPARTURE_UTC, INTRANSIT, TYPE_COLOR
	FROM MT1.ais.dbo.V_ARR_DEP_ALL WITH(NOLOCK)
	WHERE ARR_DEP_SORT>DATEADD(HOUR, -6, GETUTCDATE())) ;
	--
	PRINT '**** [v_arr_dep_batch_sp]: '+ @@SERVERNAME+ '.'+DB_NAME()+ '.'+USER_NAME()+' ['+CONVERT(VARCHAR(19), GETDATE(),126)+'] ENDoF: Refresh only last 6 hours , Rows Affected: '+convert(varchar(20), @@ROWCOUNT);

	--delete duplicate arrivals
	DELETE FROM V_ARR_DEP_BATCH WHERE ARRIVAL IS NOT NULL AND DEPARTURE IS NULL 
	AND EXISTS (SELECT 1 FROM V_ARR_DEP_BATCH B WHERE MMSI=V_ARR_DEP_BATCH.MMSI AND PORT_ID=V_ARR_DEP_BATCH.PORT_ID AND ARRIVAL=V_ARR_DEP_BATCH.ARRIVAL AND DEPARTURE IS NOT NULL) ;
	--
	PRINT '**** [v_arr_dep_batch_sp]: '+ @@SERVERNAME+ '.'+DB_NAME()+ '.'+USER_NAME()+' ['+CONVERT(VARCHAR(19), GETDATE(),126)+'] ENDoF: delete duplicate arrivals , Rows Affected: '+convert(varchar(20), @@ROWCOUNT);

/* -- * (CORE-6010) ommit sp_rename steps due to RCSI
--xx exec sp_rename 'V_ARR_DEP_BATCH', 'V_ARR_DEP_TEMP1'
--xx exec sp_rename 'V_ARR_DEP_TEMP', 'V_ARR_DEP_BATCH'
--xx exec sp_rename 'V_ARR_DEP_TEMP1', 'V_ARR_DEP_TEMP'
*/


END




GO
