USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
-- CREATE 
CREATE PROCEDURE [dbo].[v_ship_diff]
AS
BEGIN
	SET NOCOUNT ON;
	SET QUERY_GOVERNOR_COST_LIMIT 0
	SET DEADLOCK_PRIORITY HIGH;
	SET CONCAT_NULL_YIELDS_NULL OFF;
	--
	DECLARE @DetErrorMess VARCHAR(MAX), @ErrorSeverity  tinyint, @ErrorState tinyint;
	-- ** [13:34 18/7/2016] DATA-2771: (mt1)_V_POS_BATCH1-2_logical_idx_corruption
	-- **	sp not failling totally after:  Error on UPDATEs
	BEGIN TRY
		BEGIN TRAN;

			UPDATE A
			set TIMESTAMP=B.TIMESTAMP, LAST_POS=B.LAST_POS, PORT_ID=B.PORT_ID, CURRENT_PORT=B.CURRENT_PORT, CURRENT_PORT_COUNTRY=B.CURRENT_PORT_COUNTRY,
			CURRENT_PORT_UNLOCODE=B.CURRENT_PORT_UNLOCODE, 
			LON=B.LON, LAT=B.LAT, COURSE=B.COURSE, HEADING=B.HEADING, STATUS_AIS=B.STATUS_AIS, ROT=B.ROT, SPEED=B.SPEED, STATION=B.STATION, SAT_IS_NEWER=0, OPERATOR=B.OPERATOR,
			ETA=B.ETA, DESTINATION=B.DESTINATION, DRAUGHT=B.DRAUGHT, SHIPTIME=B.SHIPTIME, AREA_ID=B.AREA_ID, AREA_NAME=B.AREA_NAME,
			LAST_PORT_ID=B.LAST_PORT_ID, LAST_PORT=B.LAST_PORT, LAST_PORT_TIME=B.LAST_PORT_TIME, LAST_PORT_COUNTRY=B.LAST_PORT_COUNTRY, LAST_PORT_UNLOCODE=B.LAST_PORT_UNLOCODE,
			PREVIOUS_PORT_ID=B.PREVIOUS_PORT_ID, PREVIOUS_PORT=B.PREVIOUS_PORT, PREVIOUS_PORT_TIME=B.PREVIOUS_PORT_TIME, PREVIOUS_PORT_COUNTRY=B.PREVIOUS_PORT_COUNTRY, PREVIOUS_PORT_UNLOCODE=B.PREVIOUS_PORT_UNLOCODE,
			NEXT_PORT_ID=B.NEXT_PORT_ID, NEXT_PORT_NAME=B.NEXT_PORT_NAME, NEXT_PORT_COUNTRY=B.NEXT_PORT_COUNTRY, NEXT_PORT_UNLOCODE=B.NEXT_PORT_UNLOCODE,
			STATUS_NAME=B.STATUS_NAME, 
			ETA_CALC=B.ETA_CALC, ETA_UPDATED=B.ETA_UPDATED, DISTANCE_TO_GO=B.DISTANCE_TO_GO, SUEZ=B.SUEZ, PANAMA=B.PANAMA,
			SAT_ETA_CALC=B.SAT_ETA_CALC, SAT_ETA_UPDATED=B.SAT_ETA_UPDATED, SAT_DISTANCE_TO_GO=B.SAT_DISTANCE_TO_GO, SAT_SUEZ=B.SAT_SUEZ, SAT_PANAMA=B.SAT_PANAMA
			,DISTANCE_TRAVELLED=B.DISTANCE_TRAVELLED, SAT_DISTANCE_TRAVELLED=B.SAT_DISTANCE_TRAVELLED
			,SPEED_CALC=B.SPEED_CALC, SAT_SPEED_CALC=B.SAT_SPEED_CALC, DEP_TIME=B.DEP_TIME
			,CURRENT_PORT_TIMESTAMP=B.CURRENT_PORT_TIMESTAMP,SAT_CURRENT_PORT_TIMESTAMP=B.SAT_CURRENT_PORT_TIMESTAMP, AIS_SECONDS=B.AIS_SECONDS, RELATED_PORT_ID=B.RELATED_PORT_ID
			,AREA_CODE=B.AREA_CODE, SAT_AREA_CODE=B.SAT_AREA_CODE, LOAD_STATUS_ID=B.LOAD_STATUS_ID, LOAD_STATUS_NAME=B.LOAD_STATUS_NAME, TIMEZONE=B.TIMEZONE
			,WIND_ANGLE=B.WIND_ANGLE, WIND_SPEED=B.WIND_SPEED, WIND_TEMP=B.WIND_TEMP
			,TERRSAT_TIMESTAMP=B.TERRSAT_TIMESTAMP, TERRSAT_LAT=B.TERRSAT_LAT, TERRSAT_LON=B.TERRSAT_LON, TERRSAT_SPEED=B.TERRSAT_SPEED
			,STATION_SHOW=B.STATION_SHOW
			,CURRENT_PORT_OFFSET=B.CURRENT_PORT_OFFSET, LAST_PORT_OFFSET=B.LAST_PORT_OFFSET, PREVIOUS_PORT_OFFSET=B.PREVIOUS_PORT_OFFSET, ETA_OFFSET=B.ETA_OFFSET, ETA_CALC_OFFSET=B.ETA_CALC_OFFSET
			,VOYAGE_IDLE_TIME_SECS=B.VOYAGE_IDLE_TIME_SECS, LAST_UNDERWAY_TIMESTAMP=B.LAST_UNDERWAY_TIMESTAMP, BERTH_ID=B.BERTH_ID, TERMINAL_ID=B.TERMINAL_ID
			FROM V_SHIP_TEMP A INNER JOIN MT1.ais.dbo.V_SHIP_LATEST B WITH(NOLOCK) ON A.SHIP_ID=B.SHIP_ID 
			AND (A.LAST_POS IS NULL OR A.LAST_POS<>B.LAST_POS OR A.SAT_LAST_POS<>B.SAT_LAST_POS OR A.ETA_UPDATED<>B.ETA_UPDATED OR A.SAT_ETA_UPDATED<>B.SAT_ETA_UPDATED) 
			WHERE B.LAST_POS>DATEADD(MINUTE, -8, GETUTCDATE()) OR B.SAT_LAST_POS>DATEADD(HOUR, -3, GETUTCDATE()) OR B.ETA_UPDATED > A.ETA_UPDATED OR B.SAT_ETA_UPDATED > A.SAT_ETA_UPDATED
			OPTION (MAXDOP 3);  

			--UPDATE SAT DATA
			UPDATE a
			  SET a.SAT_TIMESTAMP=B.SAT_TIMESTAMP, a.SAT_LAST_POS=B.SAT_TIMESTAMP, a.PORT_ID=CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_PORT_ID ELSE A.PORT_ID END, 
			  a.CURRENT_PORT=CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_PORT_NAME ELSE A.CURRENT_PORT END,
			  a.SAT_LON=B.SAT_LON, a.SAT_LAT=B.SAT_LAT, a.SAT_COURSE=B.SAT_COURSE, a.SAT_HEADING=B.SAT_HEADING, a.SAT_SPEED=B.SAT_SPEED, a.SAT_IS_NEWER=B.SAT_IS_NEWER,
			  a.SAT60_TIMESTAMP = b.SAT60_TIMESTAMP, a.SAT60_SPEED=b.SAT60_SPEED, a.SAT60_COURSE=b.SAT60_COURSE, a.SAT60_LAT=b.SAT60_LAT, a.SAT60_LON=b.SAT60_LON,
			  a.SAT360_TIMESTAMP = b.SAT360_TIMESTAMP, a.SAT360_SPEED=b.SAT360_SPEED, a.SAT360_COURSE=b.SAT360_COURSE, a.SAT360_LAT=b.SAT360_LAT, a.SAT360_LON=b.SAT360_LON,
			  a.SAT720_TIMESTAMP = b.SAT720_TIMESTAMP, a.SAT720_SPEED=b.SAT720_SPEED, a.SAT720_COURSE=b.SAT720_COURSE, a.SAT720_LAT=b.SAT720_LAT, a.SAT720_LON=b.SAT720_LON,
			  a.IS_COASTAL=b.IS_COASTAL
			  ,a.TERRSAT_TIMESTAMP = CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_TIMESTAMP ELSE A.TIMESTAMP END
			  ,a.TERRSAT_LAT = CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_LAT ELSE A.LAT END
			  ,a.TERRSAT_LON = CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_LON ELSE A.LON END
			  ,a.TERRSAT_SPEED = CASE WHEN B.SAT_IS_NEWER=1 THEN B.SAT_SPEED ELSE A.SPEED END
			  FROM V_SHIP_TEMP AS a
			  INNER JOIN MT1.ais.dbo.LAST_SEEN_SHIP AS b WITH(NOLOCK) 
			  ON a.SHIP_ID = b.SHIP_ID 
			  WHERE B.SAT_TIMESTAMP>DATEADD(HOUR,-20,GETUTCDATE())
			  

			  --New Ships
	  			INSERT INTO V_SHIP_TEMP (SHIP_ID, MMSI, IMO, CALLSIGN, SHIPNAME, TIMESTAMP, PORT_ID, CURRENT_PORT, CURRENT_PORT_COUNTRY, 
				CURRENT_PORT_UNLOCODE, TYPE_NAME, GT_SHIPTYPE, COUNTRY, 
				LAST_PORT_ID, LAST_PORT, LAST_PORT_TIME, LAST_PORT_COUNTRY, LAST_PORT_UNLOCODE, 
				PREVIOUS_PORT_ID, PREVIOUS_PORT, PREVIOUS_PORT_TIME, PREVIOUS_PORT_COUNTRY, PREVIOUS_PORT_UNLOCODE,
				NEXT_PORT_ID, NEXT_PORT_NAME, NEXT_PORT_COUNTRY, NEXT_PORT_UNLOCODE, 
				LON, LAT, ETA, DRAUGHT, DESTINATION, SHIPTIME, LENGTH, WIDTH, CODE2, COUNT_PHOTOS, SHIPTYPE, TYPE_COLOR, 
				MAXSPEED, AVGSPEED, TYPE_SUMMARY, LAST_POS, DWT, YOB,GRT,[STATUS], AREA_ID, AREA_NAME, 
								  COURSE, HEADING, STATUS_AIS, ROT, SPEED, STATION,
								   SAT_LON, SAT_LAT, SAT_AREA_ID, SAT_AREA_NAME, SAT_PORT_NAME, SAT_PORT_ID, SAT_TIMESTAMP, SAT_LAST_POS, SAT_SPEED, SAT_COURSE, SAT_HEADING, 
								  SAT_LAST_PORT_ID, SAT_LAST_PORT_TIMESTAMP, SAT_LAST_PORT_COUNTRY, SAT_IS_NEWER, SAT_LAST_PORT_NAME, SAT_LAST_PORT_ZOOM,
								  IS_COASTAL, SAT60_TIMESTAMP, SAT60_LAT, SAT60_LON, SAT60_SPEED, 
								  SAT60_COURSE, SAT360_TIMESTAMP, SAT360_LAT, SAT360_LON, SAT360_SPEED, SAT360_COURSE, SAT720_TIMESTAMP, SAT720_LAT, SAT720_LON, 
								  SAT720_SPEED, SAT720_COURSE, OPERATOR, SAT_ETA, SAT_DESTINATION, SAT_SHIPTIME, BUILDER_ID, MANAGER_ID, OWNER_ID, STATUS_NAME, AIS_SHIPNAME,
								  ETA_CALC, ETA_UPDATED, DISTANCE_TO_GO, SUEZ, PANAMA,
								  SAT_ETA_CALC, SAT_ETA_UPDATED, SAT_DISTANCE_TO_GO, SAT_SUEZ, SAT_PANAMA
								  ,DISTANCE_TRAVELLED, SAT_DISTANCE_TRAVELLED
								  ,SPEED_CALC, SAT_SPEED_CALC, DEP_TIME
								  ,CURRENT_PORT_TIMESTAMP,SAT_CURRENT_PORT_TIMESTAMP
								  -- [CORE-1274 | 17:00 24/8/2015]
								  ,TYPE_GROUPED_ID, AIS_SECONDS, RELATED_PORT_ID, DRAUGHT_MIN, DRAUGHT_MAX, INLAND_ENI, AREA_CODE, SAT_AREA_CODE
								  ,LOAD_STATUS_ID, LOAD_STATUS_NAME, TIMEZONE 
								  ,WIND_ANGLE, WIND_SPEED, WIND_TEMP, L_FORE, W_LEFT
								  ,TERRSAT_TIMESTAMP, TERRSAT_LAT, TERRSAT_LON, TERRSAT_SPEED, TEU, LIQUID_GAS)

			(SELECT DISTINCT SHIP_ID, MMSI, IMO, CALLSIGN, SHIPNAME, TIMESTAMP, PORT_ID, CURRENT_PORT, CURRENT_PORT_COUNTRY, 
				CURRENT_PORT_UNLOCODE, TYPE_NAME, GT_SHIPTYPE, COUNTRY, 
				LAST_PORT_ID, LAST_PORT, LAST_PORT_TIME, LAST_PORT_COUNTRY, LAST_PORT_UNLOCODE, 
				PREVIOUS_PORT_ID, PREVIOUS_PORT, PREVIOUS_PORT_TIME, PREVIOUS_PORT_COUNTRY, PREVIOUS_PORT_UNLOCODE,
				NEXT_PORT_ID, NEXT_PORT_NAME, NEXT_PORT_COUNTRY, NEXT_PORT_UNLOCODE, 
				LON, LAT, ETA, DRAUGHT, DESTINATION, SHIPTIME, LENGTH, WIDTH, CODE2, COUNT_PHOTOS, SHIPTYPE, TYPE_COLOR,
				MAXSPEED, AVGSPEED, TYPE_SUMMARY, LAST_POS, DWT, YOB,GRT,[STATUS], AREA_ID, AREA_NAME, 
								  COURSE, HEADING, STATUS_AIS, ROT, SPEED, STATION,
								   SAT_LON, SAT_LAT, SAT_AREA_ID, SAT_AREA_NAME, SAT_PORT_NAME, SAT_PORT_ID, SAT_TIMESTAMP, SAT_LAST_POS, SAT_SPEED, SAT_COURSE, SAT_HEADING, 
								  SAT_LAST_PORT_ID, SAT_LAST_PORT_TIMESTAMP, SAT_LAST_PORT_COUNTRY, SAT_IS_NEWER, SAT_LAST_PORT_NAME, SAT_LAST_PORT_ZOOM, 
								  IS_COASTAL, SAT60_TIMESTAMP, SAT60_LAT, SAT60_LON, SAT60_SPEED, 
								  SAT60_COURSE, SAT360_TIMESTAMP, SAT360_LAT, SAT360_LON, SAT360_SPEED, SAT360_COURSE, SAT720_TIMESTAMP, SAT720_LAT, SAT720_LON, 
								  SAT720_SPEED, SAT720_COURSE, OPERATOR, SAT_ETA, SAT_DESTINATION, SAT_SHIPTIME, BUILDER_ID, MANAGER_ID, OWNER_ID, STATUS_NAME, AIS_SHIPNAME,
								  ETA_CALC, ETA_UPDATED, DISTANCE_TO_GO, SUEZ, PANAMA,
								  SAT_ETA_CALC, SAT_ETA_UPDATED, SAT_DISTANCE_TO_GO, SAT_SUEZ, SAT_PANAMA
								  ,DISTANCE_TRAVELLED, SAT_DISTANCE_TRAVELLED
								  ,SPEED_CALC, SAT_SPEED_CALC, DEP_TIME
								  ,CURRENT_PORT_TIMESTAMP,SAT_CURRENT_PORT_TIMESTAMP
								  -- [CORE-1274 | 17:00 24/8/2015]
								  ,TYPE_GROUPED_ID, AIS_SECONDS, RELATED_PORT_ID, DRAUGHT_MIN, DRAUGHT_MAX, INLAND_ENI, AREA_CODE, SAT_AREA_CODE
								  ,LOAD_STATUS_ID, LOAD_STATUS_NAME, TIMEZONE
								  ,WIND_ANGLE, WIND_SPEED, WIND_TEMP, L_FORE, W_LEFT
								  ,TERRSAT_TIMESTAMP, TERRSAT_LAT, TERRSAT_LON, TERRSAT_SPEED, TEU, LIQUID_GAS
								  FROM MT1.ais.dbo.V_SHIP WITH(NOLOCK) where ship_id > (select MAX(ship_id)-10000 from v_ship_temp WITH(NOLOCK)) 
								  and ship_id not in (select ship_id from v_ship_temp WITH(NOLOCK)) )
			OPTION (MAXDOP 1);  
			  
			  -- xxxx D.p: success message
			PRINT ' **** '+@@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
			PRINT ' ** [v_ship_diff] ENDoF: UPDATEs ' ;
		COMMIT TRAN;		
	END TRY
	BEGIN CATCH 
		--
		SET @ErrorSeverity = ERROR_SEVERITY()
		SET @ErrorState    = ERROR_STATE()
		SET @DetErrorMess =  ' **** ERROR_NUMBER ' +        
		  CAST(ERROR_NUMBER() AS VARCHAR) + ' : '+
		  CAST(@ErrorSeverity AS VARCHAR) + ' : ' +
		  CAST(@ErrorState AS VARCHAR) + ' : ' +
		  ERROR_PROCEDURE() + ' : ' +
		  ERROR_MESSAGE() + ' : ERROR_LINE ' +
		  CAST(ERROR_LINE() AS VARCHAR);
		
		-- Test XACT_STATE for 1 or -1. XACT_STATE = 0 means there is no transaction
		--	and a commit or rollback operation would generate an error.
		IF (XACT_STATE()) <> 0
		BEGIN
			--D.p: PRINT XACT_STATE(); 
			ROLLBACK TRAN;
			-- D.p: PRINT 'after: ' + CAST(XACT_STATE() AS VARCHAR(10));
		END;
		-- detailed error message....return
		RAISERROR(@DetErrorMess, @ErrorSeverity, @ErrorState) WITH LOG;
		RETURN;
	END CATCH;
	-- ** ENDoF:  [13:34 18/7/2016] DATA-2771

--Update Geo_POINTS in 30 min intervals
if (SELECT MAX(TIMESTAMP) FROM V_POS_POINTS_BATCH)<DATEADD(MINUTE,-30,GETUTCDATE())
BEGIN

	--TERR
	MERGE V_POS_POINTS_TEMP A 
	USING V_SHIP_TEMP B --WITH(NOLOCK) 
	ON A.SHIP_ID=B.SHIP_ID 
	WHEN MATCHED AND B.TIMESTAMP IS NOT NULL AND (A.TIMESTAMP IS NULL OR A.TIMESTAMP<DATEADD(MINUTE,-10,B.TIMESTAMP)) 
	AND (A.LAT IS NULL OR ABS(A.LAT-B.LAT)>0.1 OR ABS(A.LON-B.LON)>0.1) --UPDATE ONLY ON SIGNIFICANT MOVEMENT
	AND B.LAT BETWEEN -90 AND 90 AND B.LON BETWEEN -180 AND 180 THEN
	  UPDATE
	  SET A.MMSI=B.MMSI, A.POINT=geography::Point(B.LAT, B.LON, 4326), A.TIMESTAMP=B.TIMESTAMP, A.LAT=B.LAT, A.LON=B.LON
	WHEN NOT MATCHED BY TARGET AND B.LAT BETWEEN -90 AND 90 AND B.LON BETWEEN -180 AND 180  THEN
	  INSERT (SHIP_ID,MMSI,POINT,TIMESTAMP,LAT,LON)
	  VALUES (B.SHIP_ID,B.MMSI,geography::Point(B.LAT, B.LON, 4326),B.TIMESTAMP,B.LAT,B.LON)
	WHEN NOT MATCHED BY SOURCE THEN
	  DELETE;

	--SAT
	MERGE V_POS_POINTS_TEMP A 
	USING V_SHIP_TEMP B --WITH(NOLOCK) 
	ON A.SHIP_ID=B.SHIP_ID 
	WHEN MATCHED AND B.SAT_TIMESTAMP>DATEADD(HOUR,-24,GETUTCDATE()) AND (A.SAT_TIMESTAMP IS NULL OR A.SAT_TIMESTAMP<DATEADD(MINUTE,-30,B.SAT_TIMESTAMP))
		AND B.SAT_LAT IS NOT NULL AND SAT60_LAT IS NOT NULL
		AND SAT360_LAT IS NOT NULL AND SAT720_LAT IS NOT NULL
		AND SAT720_LAT BETWEEN -90 AND 90 AND SAT720_LON BETWEEN -180 AND 180 THEN
	  UPDATE
	  SET A.MMSI=B.MMSI, A.SAT_POINT=geography::Point(B.SAT_LAT, B.SAT_LON, 4326), A.SAT60_POINT=geography::Point(B.SAT60_LAT, B.SAT60_LON, 4326),
	  A.SAT360_POINT=geography::Point(B.SAT360_LAT, B.SAT360_LON, 4326), SAT720_POINT=geography::Point(B.SAT720_LAT, B.SAT720_LON, 4326),
	  A.SAT_TIMESTAMP=B.SAT_TIMESTAMP, A.SAT_LAT=B.SAT_LAT, A.SAT_LON=B.SAT_LON
	WHEN NOT MATCHED BY TARGET AND B.SAT_LAT IS NOT NULL AND SAT60_LAT IS NOT NULL
		AND SAT360_LAT IS NOT NULL AND SAT720_LAT IS NOT NULL
		AND SAT720_LAT BETWEEN -90 AND 90 AND SAT720_LON BETWEEN -180 AND 180  THEN
	  INSERT (SHIP_ID,MMSI,SAT_POINT,SAT60_POINT,SAT360_POINT,SAT720_POINT, SAT_TIMESTAMP, SAT_LAT, SAT_LON)
	  VALUES (B.SHIP_ID,B.MMSI,geography::Point(B.SAT_LAT, B.SAT_LON, 4326), geography::Point(B.SAT60_LAT, B.SAT60_LON, 4326),
	  geography::Point(B.SAT360_LAT, B.SAT360_LON, 4326), geography::Point(B.SAT720_LAT, B.SAT720_LON, 4326),
	  B.TIMESTAMP, B.SAT_LAT, B.SAT_LON)
	WHEN NOT MATCHED BY SOURCE THEN
	  DELETE;

	BEGIN TRAN spren
	exec sp_rename 'V_POS_POINTS_BATCH', 'V_POS_POINTS_TEMP1'
	exec sp_rename 'V_POS_POINTS_TEMP', 'V_POS_POINTS_BATCH'
	exec sp_rename 'V_POS_POINTS_TEMP1', 'V_POS_POINTS_TEMP'
	COMMIT tran spren

-- ENDoF IF: Update Geo_POINTS in 30 min intervals 
END
PRINT ' **** '+@@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
PRINT ' ** [v_ship_diff] ENDoF: V_POS_POINTS_BATCH MERGEs, -- Update Geo_POINTS in 30 min intervals ' ;


--SWAP NAMES - FASTER
--if exists (select top(1) * from V_SHIP_TEMP) --do not swap tables if something went wrong and table is empty
--begin
--BEGIN TRAN
--exec sp_rename 'V_SHIP_BATCH', 'V_SHIP_TEMP1'
--exec sp_rename 'V_SHIP_TEMP', 'V_SHIP_BATCH'
--exec sp_rename 'V_SHIP_TEMP1', 'V_SHIP_TEMP'
--COMMIT
--end


-- ** [15:20 28/6/2016] idx REBUILDs
-- [DATA-2980] : Create index rebuild scr-proc hourly
-- * SET Object UPON SYNONYM def:
	DECLARE @V_TEMP_OBJ VARCHAR(1000) = (SELECT /*xx TOP 1*/ PARSENAME(base_object_name,1) AS objectName 
											FROM sys.synonyms WHERE name='V_SHIP_TEMP');
	-- * SET (minutes) before last REBUILD (STATs check)
	DECLARE @intDiffMin TINYINT = 240;
	-- CHECK last STATs UPDATE on CLUSTERED INDEX:
	IF (
		SELECT DATEDIFF(MINUTE,STATS_DATE(object_id, stats_id),GETDATE()) --!! LastStatsUpdate DIFF_min
			FROM sys.stats
			WHERE object_id = OBJECT_ID(@V_TEMP_OBJ)
			AND LEFT(name,4)!='_WA_'
			-- Select ONLY Clustered for the CHECK:
			AND name = (SELECT i0.name FROM sys.indexes i0 WHERE i0.object_id=OBJECT_ID(@V_TEMP_OBJ) AND i0.type_desc='CLUSTERED')
		) > @intDiffMin
	BEGIN
		--xx D.p
		PRINT @@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
		PRINT ' **** LastStatsUpdate DIFF(for '+@V_TEMP_OBJ+') > '+CONVERT(VARCHAR(10), @intDiffMin)+' min'
		-- Open Cursor with ALTER statements
		DECLARE @straltSQL VARCHAR(1000);
		DECLARE c_altidx CURSOR FOR 
		SELECT
				'ALTER INDEX ' + QUOTENAME(i.name) + ' ON '
				+ QUOTENAME('dbo') + '.'
				+ QUOTENAME(OBJECT_NAME(i.OBJECT_ID)) + ' REBUILD;'	rbidx_scr
		FROM sys.indexes i
		WHERE 
			--xx [o].name = @V_TEMP_OBJ
			OBJECT_NAME(i.OBJECT_ID) = @V_TEMP_OBJ
			-- AND i.type_desc='CLUSTERED'
		ORDER BY CASE i.type_desc WHEN 'CLUSTERED' THEN 1 ELSE 0 END DESC
		;
		--
		OPEN c_altidx;
		FETCH NEXT FROM c_altidx INTO @straltSQL;
		WHILE (@@FETCH_STATUS = 0)
			BEGIN
				--xx D.p
				PRINT @@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
				PRINT @straltSQL;
				EXEC dbo.sp_sqlexec @straltSQL;

				FETCH NEXT FROM c_altidx INTO @straltSQL;
				-- ENDoF:  c_altidx cursor WHILE
			END;
		--
		CLOSE c_altidx;
		DEALLOCATE c_altidx;
	--
	END;
	ELSE
	BEGIN	
		/*xxxx D.p	*/
		PRINT @@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
		PRINT ' **** LastStatsUpdate DIFF(for '+@V_TEMP_OBJ+') <= '+CONVERT(VARCHAR(10), @intDiffMin)+' min'
		/*xxxx D.p	*/
		SELECT @intDiffMin = DATEDIFF(MINUTE,STATS_DATE(object_id, stats_id),GETDATE()) 
			FROM sys.stats
			WHERE object_id = OBJECT_ID(@V_TEMP_OBJ)
			AND LEFT(name,4)!='_WA_'
			-- Select ONLY Clustered for the CHECK:
			AND name = (SELECT i0.name FROM sys.indexes i0 WHERE i0.object_id=OBJECT_ID(@V_TEMP_OBJ) AND i0.type_desc='CLUSTERED')
		;
		PRINT ' **   LastStatsUpdate DIFF(for '+@V_TEMP_OBJ+') is : '+CONVERT(VARCHAR(10), @intDiffMin)+' min'
	-- ENDoF: IF () > @intDiffMin
	END
	;
-- ENDof: idx REBUILDs


--rename table replaced by swapping synonyms
-- [22:52 19/3/2017] (SYS-100) Migr to (mt2) : Added  "ALTER Schema .. TRANSFER" for DROP-CREATE SCHEMA 
if exists (select top(1) * from V_SHIP_TEMP)
begin
	declare @syn_object as varchar(50)
	set @syn_object = (SELECT TOP 1 PARSENAME(base_object_name,1) AS objectName 
	FROM sys.synonyms WHERE name='V_SHIP_BATCH')
	if(@syn_object='V_SHIP_BATCH1')
	begin
	BEGIN TRAN
		DROP SYNONYM [shad].[V_SHIP_BATCH];
		CREATE SYNONYM [shad].[V_SHIP_BATCH] FOR [dbo].[V_SHIP_BATCH2];
		ALTER SCHEMA [fk] TRANSFER [dbo].[V_SHIP_BATCH];
		ALTER SCHEMA [dbo] TRANSFER [shad].[V_SHIP_BATCH];
		ALTER SCHEMA [shad] TRANSFER [fk].[V_SHIP_BATCH];
		--
		DROP SYNONYM [dbo].[V_SHIP_TEMP]; 
		CREATE SYNONYM [dbo].[V_SHIP_TEMP] FOR [dbo].[V_SHIP_BATCH1];
	COMMIT TRAN;  
	end
	else if(@syn_object='V_SHIP_BATCH2')
	begin
		BEGIN TRAN
			DROP SYNONYM [shad].[V_SHIP_BATCH];
			CREATE SYNONYM [shad].[V_SHIP_BATCH] FOR [dbo].[V_SHIP_BATCH1];
			ALTER SCHEMA [fk] TRANSFER [dbo].[V_SHIP_BATCH];
			ALTER SCHEMA [dbo] TRANSFER [shad].[V_SHIP_BATCH];
			ALTER SCHEMA [shad] TRANSFER [fk].[V_SHIP_BATCH];
			--
			DROP SYNONYM [dbo].[V_SHIP_TEMP]; 
			CREATE SYNONYM [dbo].[V_SHIP_TEMP] FOR [dbo].[V_SHIP_BATCH2];
		COMMIT TRAN;  
	end
	else if(@syn_object is null)
	begin
		CREATE SYNONYM [dbo].[V_SHIP_BATCH] FOR [dbo].[V_SHIP_BATCH1]  
		CREATE SYNONYM [dbo].[V_SHIP_TEMP] FOR [dbo].[V_SHIP_BATCH2]  
	end
end


PRINT ' **** '+@@SERVERNAME+ '.'+DB_NAME()+'['+CONVERT(VARCHAR(19), GETDATE(),126)+']';
PRINT ' ** [v_ship_diff] ENDoF: rename table replaced by swapping synonyms' ;

  --export to CSV, to be imported to mySQL
--exec msdb..sp_start_job 'export_V_SHIP_BATCH_DIFF'

END


GO
