USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW dbo.LAST_POS
AS
SELECT        TOP (100) PERCENT MMSI, LON, LAT, AREA_ID, AREA_NAME, PORT_ID, PORT_NAME, TIMESTAMP, CONFIRMED, SPEED, COURSE, STATUS, STATION, 
                         HEADING, ROT, SHIP_ID, SHIPNAME, SHIPTYPE, LENGTH, WIDTH, DESTINATION, FLAG_CODE, IMO, CALLSIGN, DRAUGHT, ETA, SHIP_TIMESTAMP, 
                         L_FORE, W_LEFT
FROM            dbo.LAST_SEEN_SHIP
WHERE        (TIMESTAMP > DATEADD(MINUTE, - 60, GETUTCDATE())) AND (CONFIRMED = 1) AND (STATION <> 2000) OR
                         (TIMESTAMP > DATEADD(MINUTE, - 180, GETUTCDATE())) AND (CONFIRMED = 1) AND (SPEED < 5) AND (STATION <> 2000) OR
                         (TIMESTAMP > DATEADD(MINUTE, - 360, GETUTCDATE())) AND (CONFIRMED = 1) AND (IS_COASTAL = 0) AND (STATION <> 2000) OR
                         (TIMESTAMP > DATEADD(MINUTE, - 360, GETUTCDATE())) AND (CONFIRMED = 1) AND (STATION <> 2000) AND (STATION = 888) OR
                         (TIMESTAMP > DATEADD(MINUTE, - 2, GETUTCDATE())) AND (CONFIRMED = 1) AND (STATION <> 2000)


GO
