USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_POS_SAT_UNION]
AS 
SELECT        
	COALESCE (dbo.V_POS_BATCH.SHIP_ID, dbo.V_POS_SAT_BATCH.SHIP_ID) AS SHIP_ID
	, COALESCE (dbo.V_POS_BATCH.MMSI, dbo.V_POS_SAT_BATCH.MMSI) AS MMSI
	, COALESCE (dbo.V_POS_BATCH.SHIPNAME, dbo.V_POS_SAT_BATCH.SHIPNAME) AS SHIPNAME
	, COALESCE (dbo.V_POS_BATCH.SHIPTYPE, dbo.V_POS_SAT_BATCH.SHIPTYPE) AS SHIPTYPE
	, COALESCE (dbo.V_POS_BATCH.LENGTH, dbo.V_POS_SAT_BATCH.LENGTH) AS LENGTH
	, COALESCE (dbo.V_POS_BATCH.WIDTH, dbo.V_POS_SAT_BATCH.WIDTH) AS WIDTH
	, COALESCE (dbo.V_POS_BATCH.DESTINATION, dbo.V_POS_SAT_BATCH.DESTINATION) AS DESTINATION
	, COALESCE (dbo.V_POS_BATCH.FLAG, dbo.V_POS_SAT_BATCH.FLAG) AS FLAG
	, COALESCE (dbo.V_POS_BATCH.TYPE_COLOR, dbo.V_POS_SAT_BATCH.TYPE_COLOR) AS TYPE_COLOR
	, COALESCE (dbo.V_POS_BATCH.STATION, dbo.V_POS_SAT_BATCH.STATION) AS STATION
	, COALESCE (dbo.V_POS_BATCH.L_FORE, dbo.V_POS_SAT_BATCH.L_FORE) AS L_FORE
	, COALESCE (dbo.V_POS_BATCH.W_LEFT, dbo.V_POS_SAT_BATCH.W_LEFT) AS W_LEFT
	, COALESCE (dbo.V_POS_BATCH.IMO, dbo.V_POS_SAT_BATCH.IMO) AS IMO
	, COALESCE (dbo.V_POS_BATCH.CALLSIGN, dbo.V_POS_SAT_BATCH.CALLSIGN) AS CALLSIGN
	, COALESCE (dbo.V_POS_BATCH.ETA, dbo.V_POS_SAT_BATCH.ETA) AS ETA
	, COALESCE (dbo.V_POS_BATCH.DRAUGHT, dbo.V_POS_SAT_BATCH.DRAUGHT) AS DRAUGHT
	, COALESCE (dbo.V_POS_BATCH.SHIPTYPE_FULL, dbo.V_POS_SAT_BATCH.SHIPTYPE_FULL) AS SHIPTYPE_FULL
	, COALESCE (dbo.V_POS_BATCH.PORT_ID, dbo.V_POS_SAT_BATCH.SAT_PORT_ID) AS PORT_ID
	, COALESCE (dbo.V_POS_BATCH.AREA_ID_ALL, dbo.V_POS_SAT_BATCH.SAT_AREA_ID) AS AREA_ID_ALL
	, COALESCE (dbo.V_POS_BATCH.PORT_NAME, dbo.V_POS_SAT_BATCH.SAT_PORT_NAME) AS PORT_NAME
	, COALESCE (dbo.V_POS_BATCH.AREA_NAME, dbo.V_POS_SAT_BATCH.SAT_AREA_NAME) AS AREA_NAME
	, COALESCE (dbo.V_POS_BATCH.COUNT_PHOTOS, dbo.V_POS_SAT_BATCH.COUNT_PHOTOS) AS COUNT_PHOTOS
	, dbo.V_POS_BATCH.TIMESTAMP
	, dbo.V_POS_BATCH.LAT
	, dbo.V_POS_BATCH.LON, 
	dbo.V_POS_BATCH.SPEED, dbo.V_POS_BATCH.COURSE, dbo.V_POS_SAT_BATCH.SAT_TIMESTAMP, dbo.V_POS_SAT_BATCH.SAT_LAT, 
	dbo.V_POS_SAT_BATCH.SAT_LON, dbo.V_POS_SAT_BATCH.SAT_SPEED, dbo.V_POS_SAT_BATCH.SAT_COURSE, dbo.V_POS_SAT_BATCH.IS_COASTAL, 
	dbo.V_POS_SAT_BATCH.SAT60_TIMESTAMP, dbo.V_POS_SAT_BATCH.SAT60_LAT, dbo.V_POS_SAT_BATCH.SAT60_LON, 
	dbo.V_POS_SAT_BATCH.SAT60_SPEED, dbo.V_POS_SAT_BATCH.SAT60_COURSE, dbo.V_POS_SAT_BATCH.SAT360_TIMESTAMP, 
	dbo.V_POS_SAT_BATCH.SAT360_LAT, dbo.V_POS_SAT_BATCH.SAT360_LON, dbo.V_POS_SAT_BATCH.SAT360_SPEED, 
	dbo.V_POS_SAT_BATCH.SAT360_COURSE, dbo.V_POS_SAT_BATCH.SAT720_TIMESTAMP, dbo.V_POS_SAT_BATCH.SAT720_LAT, 
	dbo.V_POS_SAT_BATCH.SAT720_LON, dbo.V_POS_SAT_BATCH.SAT720_SPEED, dbo.V_POS_SAT_BATCH.SAT720_COURSE
FROM
	dbo.V_POS_BATCH FULL OUTER JOIN
	dbo.V_POS_SAT_BATCH ON dbo.V_POS_BATCH.SHIP_ID = dbo.V_POS_SAT_BATCH.SHIP_ID


GO
