USE [ais_replica]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW V_SHIP_BATCH_VW
AS
SELECT  SHIP_ID ,
        MMSI ,
        IMO ,
        CALLSIGN ,
        SHIPNAME ,
        TIMESTAMP ,
        PORT_ID ,
        CURRENT_PORT ,
        CURRENT_PORT_COUNTRY ,
        TYPE_NAME ,
        COUNTRY ,
        LAST_PORT_ID ,
        LAST_PORT ,
        LAST_PORT_TIME ,
        LAST_PORT_COUNTRY ,
        PREVIOUS_PORT_ID ,
        PREVIOUS_PORT ,
        PREVIOUS_PORT_TIME ,
        PREVIOUS_PORT_COUNTRY ,
        LON ,
        LAT ,
        ETA ,
        DRAUGHT ,
        DESTINATION ,
        SHIPTIME ,
        LENGTH ,
        WIDTH ,
        CODE2 ,
        COUNT_PHOTOS ,
        SHIPTYPE ,
        TYPE_COLOR ,
        --xx CURRENT_CENTERX ,
        --xx CURRENT_CENTERY ,
        --xx CENTERX ,
        --xx CENTERY ,
        MAXSPEED ,
        AVGSPEED ,
        --xx CURRENT_ZOOM ,
        --xx ZOOM ,
        TYPE_SUMMARY ,
        LAST_POS ,
        DWT ,
        YOB ,
        AREA_ID ,
        AREA_NAME ,
        COURSE ,
        HEADING ,
        STATUS_AIS ,
        ROT ,
        SPEED ,
        --xx ICON ,
        ID ,
        GRT ,
        STATUS ,
        STATION ,
        SAT_LON ,
        SAT_LAT ,
        SAT_AREA_ID ,
        SAT_AREA_NAME ,
        SAT_PORT_NAME ,
        SAT_PORT_ID ,
        SAT_TIMESTAMP ,
        SAT_LAST_POS ,
        SAT_SPEED ,
        SAT_COURSE ,
        SAT_HEADING ,
        SAT_LAST_PORT_ID ,
        SAT_LAST_PORT_TIMESTAMP ,
        SAT_IS_NEWER ,
        SAT_LAST_PORT_NAME ,
        SAT_LAST_PORT_ZOOM ,
        --xx SAT_LAST_PORT_CENTERX ,
        --xx SAT_LAST_PORT_CENTERY ,
        SAT_LAST_PORT_COUNTRY ,
        --xx SAT_ICON ,
        IS_COASTAL ,
        SAT60_TIMESTAMP ,
        SAT60_LAT ,
        SAT60_LON ,
        SAT60_SPEED ,
        SAT60_COURSE ,
        SAT360_TIMESTAMP ,
        SAT360_LAT ,
        SAT360_LON ,
        SAT360_SPEED ,
        SAT360_COURSE ,
        SAT720_TIMESTAMP ,
        SAT720_LAT ,
        SAT720_LON ,
        SAT720_SPEED ,
        SAT720_COURSE ,
        OPERATOR ,
        SAT_ETA ,
        SAT_DESTINATION ,
        SAT_SHIPTIME ,
        BUILDER_ID ,
        MANAGER_ID ,
        OWNER_ID ,
        NEXT_PORT_ID ,
        NEXT_PORT_NAME ,
        NEXT_PORT_COUNTRY ,
        STATUS_NAME ,
        AIS_SHIPNAME ,
        ETA_CALC ,
        ETA_UPDATED ,
        DISTANCE_TO_GO ,
        SUEZ ,
        PANAMA ,
        SAT_ETA_CALC ,
        SAT_ETA_UPDATED ,
        SAT_DISTANCE_TO_GO ,
        SAT_SUEZ ,
        SAT_PANAMA ,
        NEXT_PORT_UNLOCODE ,
        CURRENT_PORT_UNLOCODE ,
        LAST_PORT_UNLOCODE ,
        PREVIOUS_PORT_UNLOCODE ,
        GT_SHIPTYPE ,
        DISTANCE_TRAVELLED ,
        SAT_DISTANCE_TRAVELLED ,
        TYPE_GROUPED_ID ,
        AIS_SECONDS ,
        RELATED_PORT_ID ,
        DRAUGHT_MIN ,
        DRAUGHT_MAX ,
        SPEED_CALC ,
        SAT_SPEED_CALC ,
        CURRENT_PORT_TIMESTAMP ,
        SAT_CURRENT_PORT_TIMESTAMP ,
        INLAND_ENI ,
        AREA_CODE ,
        SAT_AREA_CODE ,
        LOAD_STATUS_ID ,
        LOAD_STATUS_NAME ,
        TIMEZONE ,
        WIND_ANGLE ,
        WIND_SPEED ,
        WIND_TEMP ,
        L_FORE ,
        W_LEFT ,
        TERRSAT_TIMESTAMP ,
        TERRSAT_LAT ,
        TERRSAT_LON ,
        TEU ,
        LIQUID_GAS ,
        STATION_SHOW ,
        DEP_TIME ,
        SEARCH_RANK ,
        TERRSAT_SPEED ,
        CURRENT_PORT_OFFSET ,
        LAST_PORT_OFFSET ,
        PREVIOUS_PORT_OFFSET ,
        ETA_OFFSET ,
        ETA_CALC_OFFSET ,
        BIT_FLAGS 
FROM dbo.V_SHIP_BATCH  WITH(NOLOCK)
;

GO
